{%extends "components/form/fields/base.html"%}
{%block field%}
<select class="select validator" id="{{field.id}}" name="{{field.name}}" {{field.attrs}}></select>
{%if field.url_name%}
<script is="exec-mount" type="pass">
$q.use(
    "{{field.url_name}}",
    ()=> $r.get("{{field.url_name}}"),
    {
        onSuccess(data){
            const items = data.results;
            const el = document.getElementById("{{id}}")
            $u.renderList("{{id}}",el, items, (it)=>{
                const opt = document.createElement("option")
                opt.value = it.id;
                opt.innerText = it.label;
                return opt
            })
        }
    }
)
</script>

{%endif%}
{%endblock%}