{% get_current_language as LANG_CODE %}
<section class="flex flex-col gap-2 relative  h-[calc(8*2rem)]">
    <header class="flex items-center justify-between gap-2">
        <span class="text-sm font-bold capitalize" id="id-filter-calendar-header"></span>
        <div class="flex gap-1">
            <button data-dir="-1" class="btn-filter-calendar btn btn-ghost btn-sm btn-square" >{% include 'icons/chevron-left.svg' %}</button>
            <button data-dir="1" class="btn-filter-calendar btn btn-ghost btn-sm btn-square" >{% include 'icons/chevron-right.svg' %}</button>
        </div>
    </header>
    <div class="grid grid-cols-7 text-center text-xs font-bold opacity-50 uppercase"
         id="calendar-weekdays"></div>
    <div id="calendar-grid-days" class="calendar-grid"></div>
    <button class="btn btn-neutral btn-xs absolute bottom-2 right-0"
            onclick="FilterCalendar.setToday()">{% trans "Today" %}</button>
</section>
<script>
createComponent('c-day',{
  props:['type'],
  html: `<div>ok</div>`,
  methods: {
    onUpdate(prop, value){
      debugger
      const el = this.$('div')
      const mapCls = {
        'today': '',
        'selected': '',
        'range': '',
      }
      el.classList.value = mapCls[value] || ''
    }    
  }
})
$s.subscribe('filter.calendar.day', document.querySelector('#id-filter-calendar-header'), 'textContent', (v)=>{
  const lang = '{{ LANG_CODE }}';
  const formatter = new Intl.DateTimeFormat(lang, {month: 'long', year: 'numeric'})
  const date = new Date(v)
  return formatter.format(date)
})
document.querySelectorAll('.btn-filter-calendar').forEach(el => {
  el.onclick = () => {
    const iso = $s.get("filter.calendar.day")
    if (!iso) return;
    const date = new Date(iso)
    const step = Number(el.dataset.dir)
    date.setDate(1);
    date.setMonth(date.getMonth() + step);
    $s.set('filter.calendar.day', date.toISOString());
  }
})
</script>
{# include 'components/schedule/filter.calendar/index.js.html' #}
