{% get_current_language as LANG_CODE %}
<section class="flex flex-col gap-2 relative  h-[calc(8*2rem)]">
    <header class="flex items-center justify-between gap-2">
        <c-header></c-header>
        <div class="flex gap-1">
            <button class="btn btn-ghost btn-sm btn-square"
                    onclick="FilterCalendar.changeMonth(-1)">{% include 'icons/chevron-left.svg' %}</button>
            <button class="btn btn-ghost btn-sm btn-square"
                    onclick="FilterCalendar.changeMonth(1)">{% include 'icons/chevron-right.svg' %}</button>
        </div>
    </header>
    <div class="grid grid-cols-7 text-center text-xs font-bold opacity-50 uppercase"
         id="calendar-weekdays"></div>
    <div id="calendar-grid-days" class="calendar-grid"></div>
    <button class="btn btn-neutral btn-xs absolute bottom-2 right-0"
            onclick="FilterCalendar.setToday()">{% trans "Today" %}</button>
</section>
<script>
createComponent('c-day',{
  props:['type'],
  html: `<div>ok</div>`,
  methods: {
    onUpdate(prop, value){
      debugger
      const el = this.$('div')
      const mapCls = {
        'today': '',
        'selected': '',
        'range': '',
      }
      el.classList.value = mapCls[value] || ''
    }    
  }
})
createComponent('c-header', {
  html: `<span class="text-sm font-bold capitalize"></span>`,
  methods: {
    onMount(){
      const span = this.$('span')
      const lang = '{{ LANG_CODE }}';
      const formatter = new Intl.DateTimeFormat(lang, {month: 'long', year: 'numeric'})
      $s.subscribe('filter.calendar.day', span, 'textContent', (v)=>formatter.format(date))
      const date = new Date($s.get("filter.calendar.day"))
      span.textContent = formatter.format(date)
    }
  }
})
</script>
{# include 'components/schedule/filter.calendar/index.js.html' #}
