{% get_current_language as LANG_CODE %}
<section class="flex flex-col gap-2 relative  h-[calc(8*2rem)]">
    <header class="flex items-center justify-between gap-2">
        <span class="text-sm font-bold capitalize" id="id_filter_calendar_header"></span>
        <div class="flex gap-1">
            <button data-dir="-1" class="btn-filter-calendar btn btn-ghost btn-sm btn-square">
                {% include 'icons/chevron-left.svg' %}
            </button>
            <button data-dir="1" class="btn-filter-calendar btn btn-ghost btn-sm btn-square">
                {% include 'icons/chevron-right.svg' %}
            </button>
        </div>
    </header>
    <div class="grid grid-cols-7 text-center text-xs font-bold opacity-50 uppercase">
        <span>{%trans 'Sun'%}</span>
        <span>{%trans 'Mon'%}</span>
        <span>{%trans 'Tue'%}</span>
        <span>{%trans 'Wed'%}</span>
        <span>{%trans 'Thu'%}</span>
        <span>{%trans 'Fri'%}</span>
        <span>{%trans 'Sat'%}</span>
    </div>
    <c-days id="id_calendar_days" onchange="$s.set('filter.calendar.day', it)"></c-days>
    <button class="btn btn-neutral btn-xs absolute bottom-2 right-0"
        onclick="$s.set('filter.calendar.day', new Date().toISOString())">{% trans "Today" %}</button>
</section>
<script is="exec-mount" type="text/template">
    document.querySelectorAll('.btn-filter-calendar').forEach(el => {
        el.onclick = () => {
            const iso = $s.get("filter.calendar.day")
            if (!iso) return;
            const date = new Date(iso)
            const step = Number(el.dataset.dir)
            date.setMonth(date.getMonth() + step);
            $s.set('filter.calendar.day', date.toISOString());
        }
    })
    {
        const lang = '{{ LANG_CODE }}';
        const formatter = new Intl.DateTimeFormat(lang, {month: 'long', year: 'numeric'})
        $s.subscribe('filter.calendar.day', id_filter_calendar_header, 'textContent', (v) => {
            const date = new Date(v)
            return formatter.format(date)
        })
        const date = new Date($s.get('filter.calendar.day'))
        id_filter_calendar_header.textContent = formatter.format(date)
        $s.subscribe('filter.calendar.day', id_calendar_days, null, (v, el) => {
            el.setAttribute('date', v)
        })
        $s.subscribe('filter.calendar.range', id_calendar_days, null, (v, el)=>{
            el.setAttribute('range', v)
        })
    }
</script>