<header class="pb-4 flex justify-between">
    {%block header%}
    {%endblock%}
    <button class="btn" onclick="{{key}}_modal.showModal()">
        {% include "icons/plus.svg" %}
        {% trans "Add" %}
    </button>
</header>
<table class="table table-zebra">
    <thead>
        {%block table_thead%}
        {%endblock%}
    </thead>
    <tbody id="{{key}}_table_tbody">
    </tbody>
</table>
{%block render_child%}
{%endblock%}
<dialog id="{{key}}_modal" class="modal">
    {%block modal_box%}
    {%endblock%}
</dialog>
