<div
  class="overflow-y-auto max-h-full snap-y"
  id="id_timeline_content"
>
  <div
    class="grid grid-cols-[var(--timeline_times_space)_1fr] bg-pattern-paper gap-2"
    style="--timeline_times_space: 4rem; --tab-space: var(--timeline_times_space); --slotunit:1rem">
    {% include "components/schedule/view_mode/day/timeline/times.html" %}
    <div class="relative">
      {% include "components/schedule/view_mode/day/timeline/preview.html" %}
    </div>
  </div>
</div>
<script is="exec-mount" type="passs">
setTimeout(()=>{
  $s.subscribe('filter.calendar.day', id_timeline_content, null, (iso, el)=> {
    const date = new Date(iso);
    const index = Math.floor((date.getHours() * 60 + date.getMinutes()) / 5)
    const targetChild = id_timeline_times.children[index]
    if (!targetChild) return;
    targetChild.scrollIntoView({
      behavior: 'smooth',
      block: 'nearest',
    })
  })
}, 300)
</script>
