{% extends 'layouts/base.html' %}
{% load static %}
{%with app_url_name=default_url_name|default:request.resolver_match.url_name%}
{% partialdef menu-option %}
<li class="relative">
    <form class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="{% trans title %}"
        data-url="{% url url_name %}">
        <span class="*:m-1.5 *:inline-block">{% include icon_path %}</span>
        <span class="is-drawer-close:hidden">{% trans title %}</span>
        <button type="submit" class="absolute inset-0 opacity-0"></button>
    </form>
</li>
{% endpartialdef %}
{% block body %}
<div class="drawer lg:drawer-open h-screen">
    <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
    <div id="id-app-content" class="drawer-content  border-l border-base-content/10 grid grid-rows-[auto_1fr]">
        {% block section %}
        {% include 'pages/app/schedule/index.html#main' %}
        {% endblock %}
    </div>
    <div class="drawer-side is-drawer-close:overflow-visible">
        <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
        <div class="flex min-h-full flex-col items-start bg-base-200 is-drawer-close:w-18 is-drawer-open:w-64">
            <ul class="menu w-full grow" id="id-app-menu">
                <li class='border-b mb-2 border-base-content/10 h-14 pb-0'>
                    <span class="menu-title flex gap-3">
                        {% include 'icons/logo.svg' %}
                        <span class="is-drawer-close:hidden text-2xl text-primary font-bold">{% trans 'Agio' %}</span>
                    </span>
                </li>
                {% for option in app_template_name_options %}
                {% with url_name=option.url_name title=option.title icon_path=option.icon_template_name %}
                {% partial menu-option %}
                {% endwith %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
</script>
<script src="{% static 'state.js' %}"></script>
<script>
    const formQuerySelector = "#id-app-menu form"
    $s.create("sidebar.urlName")
    $s.create("sidebar.store.data")
    $s.subscribe(
        "sidebar.urlName",
        formQuerySelector,
        null,
        (newValue, form) => {
            const urlName = form.dataset.urlName;
            const isSelected = newValue === urlName;
            form.classList.toggle('menu-active', isSelected);
        }
    )
    $s.subscribe("sidebar.store.data", "#id-app-content", "innerHTML")
    $s.set("sidebar.urlName", "{{app_url_name}}")
    document.querySelectorAll(formQuerySelector).forEach(form => {
        form.addEventListener("submit", e => {
            e.preventDefault()
            axios.get(
                e.target.dataset.url,
                {
                    headers: {
                        'Ajax-Partial': 'main'
                    }
                }
            ).then(({data}) => {
                debugger
                $s.set("sidebar.store.data", data)
            })
        })
    })
//window.addEventListener('query:success', (event) => {
//const {queryKey, data} = event.detail
//if (queryKey !== 'sidebar-query') return;
//const form = event.target
//setState('sidebar.urlName', form.dataset.urlName)
//setState('sidebar.store.data', data)
//})
//""
</script>
<script src="{% static 'components.js' %}"></script>
{% endblock %}
{% endwith %}