{% extends 'layouts/base.html' %}
{% load static %}
{% partialdef menu-option %}
<li class="relative">
    <form is="app-ajax"
          store='sidebar.store'
          action="{% url url_name %}"
          onsuccess="handlerSidebarStoreStatus"
          class="is-drawer-close:tooltip is-drawer-close:tooltip-right "
          data-state="sidebar.url_name"
          data-then="it =>this.classList.toggle('menu-active',it === '{{ url_name }}')"
          data-at="void"
          data-tip="{% trans title %}">
        <span class="*:m-1.5 *:inline-block">{% include icon_path %}</span>
        <span class="is-drawer-close:hidden">{% trans title %}</span>
        <button data-state="sidebar.url_name"
                data-then="it => it === '{{ url_name }}'"
                data-at="disabled"
                type="submit"
                class="absolute inset-0 opacity-0"></button>
    </form>
</li>
{% endpartialdef %}
{% block body %}
    <app-state name="sidebar.url_name"
    {% if request.resolver_match.url_name == 'app' %}
        value="{{'app-schedule'}}"
    {% else %}
        value="{{ request.resolver_match.url_name }}"
    {% endif %}
    "></app-state>
    <div class="drawer lg:drawer-open h-screen">
        <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content  border-l border-base-content/10 grid grid-rows-[auto_1fr]"
             data-state="sidebar.store.data"
             data-at="innerHTML">
            <nav class="navbar w-full bg-base-300 border-b border-base-content/10">
                <label for="my-drawer-4"
                       aria-label="open sidebar"
                       class="btn btn-square btn-ghost">{% include 'icons/panel-left-open.svg' %}</label>
                <div class="px-4">
                    {% block navbar_title %}Topbar{% endblock %}
                </div>
            </nav>
            <div data-state="menu-page" data-at='innerHTML'>
                {% block main %}
                    {% include default_app_template_name %}
                {% endblock %}
            </div>
        </div>
        <div class="drawer-side is-drawer-close:overflow-visible">
            <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
            <div class="flex min-h-full flex-col items-start bg-base-200 is-drawer-close:w-18 is-drawer-open:w-64">
                <ul class="menu w-full grow">
                    <li class='border-b mb-2 border-base-content/10 h-14 pb-0'>
                        <span class="menu-title flex gap-3">
                            {% include 'icons/logo.svg' %}
                            <span class="is-drawer-close:hidden text-2xl text-primary font-bold">{% trans 'Agio' %}</span>
                        </span>
                    </li>
                    {% for option in app_template_name_options %}
                        {% with url_name=option.url_name title=option.title icon_path=option.icon_template_name %}
                            {% include 'pages/app/layout.html#menu-option' %}
                        {% endwith %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="hidden"
         data-state="sidebar.store.status"
         data-then="handlerSidebarStoreStatus"
         data-at="void"></div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'state.js' %}"></script>
    <script src="{% static 'components.js' %}"></script>
    <script>
    window.handlerSidebarStoreStatus = (status)=>{
        if (status !== 200) return;
        setState('sidebar.url_name', '{{ url_name }}');
        window.history.pushState({},'','{{ url_name }}')
        document.querySelector('form[store="sidebar.store"]')?.clean();
    }
    </script>
{% endblock %}
