{% extends 'layouts/base.html' %}
{% load static %}
{% partialdef menu-option %}
<li>
    <button class="app-menu-option is-drawer-close:tooltip is-drawer-close:tooltip-right"
        data-tip="{% trans option.title %}" data-url="{% url option.url_name %}" data-url-name="{{option.url_name}}">
        <span class="*:m-1.5 *:inline-block">{% include option.icon_template_name %}</span>
        <span class="is-drawer-close:hidden">{% trans option.title %}</span>
    </button>
</li>
{% endpartialdef %}
{% block header%}
<script src="{% static 'state.js' %}"></script>
<script src="{% static 'query-manager.js' %}"></script>
<script src="{% static 'request-manager.js' %}"></script>
<script src="{% static 'utils.js' %}"></script>
{%endblock%}
{%with app_url_name=request.resolver_match.url_name%}
{% block body %}
<div class="drawer lg:drawer-open h-screen">
    <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
    <div id="id_app_content" class="drawer-content  border-l border-base-content/10 h-screen grid grid-rows-[auto_1fr]">
        {% block section %}
        {% include 'pages/app/schedule/index.html#main' %}
        {% endblock %}
    </div>
    <div class="drawer-side is-drawer-close:overflow-visible">
        <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
        <div class="flex min-h-full flex-col items-start bg-base-200 is-drawer-close:w-18 is-drawer-open:w-64">
            <ul class="menu w-full grow" id="id-app-menu">
                <li class='border-b mb-2 border-base-content/10 h-14 pb-0'>
                    <span class="menu-title flex gap-3">
                        {% include 'icons/logo.svg' %}
                        <span class="is-drawer-close:hidden text-2xl text-primary font-bold">{% trans 'Agio' %}</span>
                    </span>
                </li>
                {% for option in app_template_name_options%}
                {% partial menu-option %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="toast" id="id_app_toast">
</div>
{% endblock %}
{% block scripts %}
<script>
    $s.createStore('app-menu', {
        selected: "{{ default_url_name|default:request.resolver_match.url_name }}"
    })
    document.querySelectorAll('.app-menu-option').forEach(el => {
        $s.subscribe("app-menu.selected", el, null, (value, currentEl) => {
            const isSelected = value === currentEl.dataset.urlName
            currentEl.classList.toggle("menu-active", isSelected)
            currentEl.disabled = isSelected
        })
        el.onclick = () => {
            $q.use(
                el.dataset.urlName,
                () => fetch(el.dataset.url, {
                    headers: {
                        "Ajax-Request": 'true'
                    }
                }).then(r => r.text()),
                {
                    onSuccess(data) {
                        history.pushState({}, "", el.dataset.url + location.search)
                        const range = document.createRange();
                        const frag = range.createContextualFragment(data)
                        //id_app_content.innerHTML = data
                        id_app_content.replaceChildren(frag)
                        $s.set("app-menu.selected", el.dataset.urlName)
                    }
                },
            )
        }
    })
</script>
<script src="{% static 'components.js' %}" type="module"></script>
{% endblock %}
{% endwith %}