{% extends "layouts/base.html" %}

{% block body %}
<div class="container mx-auto max-w-3xl p-6">
    <div class="card-body">
        <form id="company-settings-form" class="space-y-6">
            <div class="form-control w-full">
                <label class="label" for="company_name">
                    <span class="label-text font-semibold">{%trans "Company name"%}</span>
                </label>
                <input type="text" id="company_name" name="company_name" placeholder="{%trans 'Ex: My company LTDA'%}"
                    value="{{config.company_name}}" required class="input input-bordered w-full focus:input-primary" />
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

                <div class="form-control w-full">
                    <label class="label" for="company_image">
                        <span class="label-text font-semibold">{% trans "Comany image logo"%}</span>
                    </label>
                    {% if config.company_image %}
                    <div class="mb-2 avatar flex flex-col">
                        <div class="w-24 rounded ring ring-secondary ring-offset-base-100 ring-offset-2">
                            <img src="{{ config.company_image.url }}" alt="Background Atual" />
                        </div>
                    </div>
                    {% endif %}

                    <input type="file" id="company_image" name="company_image"
                        class="file-input file-input-bordered file-input-primary w-full" accept="image/*" />
                </div>

                <div class="form-control w-full">
                    <label class="label" for="background_image">
                        <span class="label-text font-semibold">{% trans "Background image"%}</span>
                    </label>
                    {% if config.background_image %}
                    <div class="mb-2 avatar flex flex-col">
                        <div class="w-24 rounded ring ring-secondary ring-offset-base-100 ring-offset-2">
                            <img src="{{ config.background_image.url }}" alt="Background Atual" />
                        </div>
                    </div>
                    {% endif %}

                    <input type="file" id="background_image" name="background_image"
                        class="file-input file-input-bordered file-input-secondary w-full" accept="image/*" />
                </div>

            </div>

            <div class="divider"></div>

            <div class="card-actions justify-end">
                <button type="submit" class="btn btn-primary" id="btn_save_config">
                    <span id="btn-text" class="flex gap-2 items-center">
                        {%include 'icons/check-check.svg'%}
                        {% trans 'Save configurations'%}
                    </span>
                </button>
            </div>

        </form>
    </div>
</div>

<script is="exec-mount" type="pass">
{
    $s.create('isSaving', false);
    const btn = document.getElementById('btn_save_config')
    $s.subscribe('isSaving', btn, null, (v) => {
        btn.classList.toggle('loading', v)
    })
    const form = document.getElementById('company-settings-form')
    if (form) {
        form._handler = (event) => {
            event.preventDefault();
            $s.set('isSaving', true)
            const data = new FormData(event.target);
            const ci = data.get('company_image');
            const bi = data.get('background_image');
            if (ci instanceof File && ci.size === 0)
                data.delete('company_image');
            if (bi instanceof File && bi.size === 0)
                data.delete('background_image');
            $q.use(
                ['app-config'],
                () => $r.patch(
                    '{%url "app-config"%}',
                    data,
                    {'X-CSRFToken': '{{csrf_token}}'}
                ),
                {
                    onSuccess(){
                     toastSuccess('{%trans "Configurations updated"%}')   
                    },
                    onError(){
                      toastError("{%trans 'Error in save'%}")
                    },
                    onFinally(){
                        $s.set('isSaving', false)
                    }
                }
            )

        }
        form.addEventListener('submit', form._handler);
    }
}
</script>
<script is="exec-unmount" type="pass">
{
    const form = document.getElementById('company-settings-form')
    if (form && form._handler){
        form.removeEventListener('submit', form._handler);
        delete form._handler
    }
}
</script>
{% endblock %}