<button class="btn" onclick="id_{{key}}_btn_add_modal.showModal()">
    {% include "icons/plus.svg" %}
    {% trans "Add" %}
</button>
<dialog id="id_{{key}}_btn_add_modal" class="modal">
    <div class="modal-box">
        {% with form=create.form id="id_"|add:key|add:"_create_form" %}
        {% include "components/form/index.html" %}
        {% endwith %}
        <div class="modal-action">
            <form method="dialog">
                <button class="btn btn-ghost" onclick="id_{{key}}_create_form.reset()">
                    {% trans "Cancel" %}
                </button>
            </form>
            <button class="btn btn-primary" onclick="id_{{key}}_create_form.requestSubmit()">
                {% trans "Save" %}
            </button>
        </div>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button></button>
    </form>
</dialog>
<script is="exec-mount" type="pass">
    {
        const form = document.getElementById("id_{{key}}_create_form");
        if (form) {
            form._handlerCreate = (event) => {
                event.preventDefault();
                const data = $u.getDataByForm(event.target);
                $q.use("{{create.post_url_name}}",
                    () => $r.post("{% url create.post_url_name %}", data, {"X-CSRFToken": "{{csrf_token}}"}),
                    {
                        onSuccess() {
                            {% if list %}
                            $q.refetch("{{list.table.list_url_name}}");
                            {% endif %}
                            document.getElementById("id_{{key}}_btn_add_modal")?.close();
                            form.reset();
                        },
                        onError(error) {
                            if (error.status === 400) {
                                Object.entries(error.data).forEach(([key, value]) => {
                                    const field = form.elements[key];
                                    if (field) {
                                        const message = Array.isArray(value) ? value.join(', ') : value;

                                        field.setCustomValidity(message);
                                        field.reportValidity();

                                        field.addEventListener('input', () => {
                                            field.setCustomValidity('');
                                        }, {once: true});
                                    } else {
                                        toastError(value);
                                    }
                                });
                            } else {
                                toastError("{% trans 'Error' %}!");
                            }
                        }
                    }
                );
            };

            form.addEventListener("submit", form._handlerCreate);
        }
    }
</script>
<script is="exec-umount" type="pass">
{
    const form = document.getElementById("id_{{key}}_create_form");
    if (form && form._handlerCreate) {
        form.removeEventListener("submit", form._handlerCreate);
        delete form._handlerCreate; // Limpeza completa da propriedade
    }
}
</script>