{% get_current_language as LANG %}
<table class="table table-zebra">
    <thead>
        <tr>
            {% for option in list.table.header.options %}
            <th>{{option.label}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody id="id_{{key}}_table">
    </tbody>
</table>
<script is="exec-umount" type="pass">
$s.remove("{{list.table.list_url_name}}.data")
</script>
{{list.table.row_data.get_object_data|json_script:'id_row_map_types'}}
<script is="exec-mount" type="pass">
$s.compute("{{list.table.list_url_name}}.data", [
  "{{key}}.filters.search",
], ([search]) => {
  $q.use(
    "{{list.table.list_url_name}}",
    ()=>$r.get("{% url list.table.list_url_name %}"),
    {
      onSuccess(data){
        const items = data.results
        const type_map = JSON.parse(id_row_map_types.textContent)
        const map = {
          "text": (v) => v,
          "date": (v) => new Date(v).toLocaleDateString("{{LANG}}"),
        }
        $u.renderList("{{key}}_render_list", id_{{key}}_table, items, (item) => {
          const tr = document.createElement("tr")
          Object.entries(type_map).forEach(([key, value]) => {
            const td = document.createElement("td")
            td.innerText = map[value](item[key])
            tr.appendChild(td)
          })
          return tr;
        })
      }
    },
    {enableRefetch:true}
  )
})
</script>