{% get_current_language as LANG %}
<div class="overflow-x-auto">
    <table class="table table-zebra">
        <thead>
            <tr>
                {% for option in list.table.header.options %}
                <th>{{option.label}}</th>
                {% endfor %}
                <th>
                    {% trans "Actions" %}
                </th>
            </tr>
        </thead>
        <tbody id="id_{{key}}_table">
        </tbody>
        <tfoot>
            <tr>
                <th colspan="{{list.table.header.options|length|add:1}}">
                    <div class="flex justify-between">
                        <span>
                            {%trans 'Showing'%} <strong id="id_page_range"></strong> {%trans 'of'%} <strong
                                id="id_page_count"></strong> {%trans 'items'%}
                        </span>
                        <div class="flex gap-3">
                            <button class="btn btn-sm" title="Previous Page" id="id_page_prev">
                                &laquo; {% trans 'Before'%}
                            </button>
                            <button class="btn btn-sm btn-primary" title="Next Page" id="id_page_next">
                                {%trans 'After'%} &raquo;
                            </button>
                        </div>

                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
</div>
<script is="exec-umount" type="pass">
$s.remove("{{list.table.list_url_name}}.data")
$s.remove("{{key}}.page")
</script>
{{list.table.row_data.get_object_data|json_script:'id_row_map_types'}}
<script is="exec-mount" type="pass">
$s.createStore("{{key}}.page", {
  count: "0",
  limit: "12",
  offset: "0",
  next: null,
  previous: null,
})
$s.compute("{{key}}.page.range", [
    "{{key}}.page.offset",
    "{{key}}.page.limit",
    "{{key}}.page.count",
], (offset, limit, count) => `${count ? (Number(offset) + 1) : 0} - ${Math.min(Number(offset) + Number(limit), Number(count))}`)
$s.compute("{{list.table.list_url_name}}.data", [
    "{{key}}.filters.search",
    "{{key}}.page.offset",
    "{{key}}.page.limit",
], (search, offset, limit) => {
  $q.use(
    ["{{list.table.list_url_name}}", limit, offset, search],
    ()=>$r.get(`{% url list.table.list_url_name %}?limit=${limit}&offset=${offset}&search=${search}`),
    {
      onSuccess(data){
        const items = data.results
        const type_map = JSON.parse(id_row_map_types.textContent)
        const map = {
            "text": (v) => v ?? '',
            "date": (v) => {
                const date = new Date(`${v}T00:00`)
                if (isNaN(date))
                    return "{%trans 'Undefined'%}"
                return date.toLocaleDateString("{{LANG}}")
            },
            "checked": (v) => v ? '\u2714' : '',
        }
        id_{{key}}_table.innerHTML = ''
        const frag = document.createDocumentFragment();
        for (const item of items) {
          const tr = document.createElement("tr")
          Object.entries(type_map).forEach(([key, value]) => {
            const td = document.createElement("td")
            td.innerText = map[value](item[key])
            tr.appendChild(td)
          })
          const th = document.createElement("th")
          {% if update %}
              const nodeUpdate = id_template_btn_update.content.cloneNode(true)
              const btnUpdate = nodeUpdate.querySelector("button")
              btnUpdate.dataset.id=item.id
              th.appendChild(btnUpdate)
          {% endif %}
          {% if delete %}
              const nodeDelete = id_template_btn_delete.content.cloneNode(true)
              const btnCancel = nodeDelete.querySelector("button")
              btnCancel.dataset.id=item.id
              th.appendChild(btnCancel)
          {% endif %}
          tr.appendChild(th)
          frag.appendChild(tr)
        }
        id_{{key}}_table.replaceChildren(frag);
        $s.set("{{key}}.page.previous", data.previous)
        $s.set("{{key}}.page.next", data.next)
        $s.set("{{key}}.page.count", data.count)
      }
    },
    {enableRefetch:true, ttl:0}
  )
})
$s.subscribe("{{key}}.page.count", id_page_count, "textContent")
$s.subscribe("{{key}}.page.range", id_page_range, "textContent")
$s.subscribe("{{key}}.page.previous", id_page_prev, "disabled", v => !v)
$s.subscribe("{{key}}.page.next", id_page_next, "disabled", v => !v)
id_page_next.onclick = () => {
    const offset = Number($s.get("{{key}}.page.offset"));
    const limit = Number($s.get("{{key}}.page.limit"));
    $s.set("{{key}}.page.offset", offset + limit)
}
id_page_prev.onclick = () => {
    const offset = Number($s.get("{{key}}.page.offset"));
    const limit = Number($s.get("{{key}}.page.limit"));
    $s.set("{{key}}.page.offset", offset - limit)
}
</script>