<form onreset="id_new_availability_modal.close()" class="" id="id_availability_form">
    {%include "pages/app/schedule/settings/availabilities/form.fields.html"%}
    <div class="modal-action mt-4">
        <button type="reset" class="btn btn-ghost">{%trans "Cancel"%}</button>
        <button type="submit" class="btn btn-primary px-8">{%trans "Save"%}</button>
    </div>
</form>
<script is="exec-mount" type="pass">
        id_availability_form.addEventListener("submit", el => {
            el.preventDefault();
            const formData = new FormData(id_availability_form)
            const data = Object.fromEntries(formData.entries())
            data.week = formData.getAll('week')
            const getSlotOfFive = (value) => {
                const [hours, minutes] = value.split(":").map(Number);
                return Math.floor(((hours * 60) + minutes)/5);
            }
            const parse = (input) => {
                const dayMap = { "1": "MO", "2": "TU", "3": "WE", "4": "TH", "5": "FR", "6": "SA", "7": "SU" };
                const days = input.week.map(d => dayMap[d]).join(",");
                const date = input.start_date.replace(/-/g, "");
                const startTime = input.start_time.replace(":", "") + "00";
                const untilTime = input.until_time.replace(":", "") + "00";
                const duration = getSlotOfFive(input.duration_slot)
                const interval = getSlotOfFive(input.interval_slot)
                const intervalRrule = (duration + interval) * 5
                return {
                    resource: parseInt(input.resource, 10),
                    rrule_params: `DTSTART:${date}T${startTime}\nRRULE:FREQ=MINUTELY;UNTIL=${date}T${untilTime};INTERVAL=${intervalRrule};BYDAY=${days}`,
                    valid_until: input.until_date,
                    duration_slot: duration,
                    interval_slot: interval,
                };
            }
            $q.use(
                "availabilities-create",
                ()=>$r.post(
                    "{%url 'availabilities-list'%}",
                    parse(data),
                    { "X-CSRFToken": "{{csrf_token}}" }
                ),
                {
                    onSuccess(data){
                        console.log(data)
                    },
                    onError(err){
                        console.log(err)
                    }
                }
            )
        })
</script>
