{%include 'components/form/index.html'%}
<div class="modal-action mt-4">
    <button class="btn btn-ghost" onclick="id_availability_form.reset();availabilities_modal.close()">{%trans "Cancel"%}</button>
    <button class="btn btn-primary px-8" onclick="id_availability_form.requestSubmit()">{%trans "Save"%}</button>
</div>

<script is="exec-umount" type="pass">
        $s.remove("av")
</script>
<script is="exec-mount" type="pass"> {
    $s.createStore("av", {
        resource_type: "",
    })
    Array.from(id_availability_form.elements).forEach(el => {
        const state = $s.get(`av.${el.name}`)
        if (state == null) return;
        el.onchange = () => {
            $s.set(`av.${el.name}`, el.value)
        }
    })
    const FieldStrategies = {
        resource_type: (value, state) => {
            $q.use( "resources-list", ()=> $r.get("{% url 'resources-list' %}"), {
                onSuccess(data){
                    if (!id_resource_type.value) return
                    const items = data.results.find(it => String(it.id) === id_resource_type.value)?.childrens;
                    $u.renderList("{{id}}",id_resource, [
                        {id:"", label: "{%trans 'Select a value.'%}"},
                        ...items
                    ], (it)=>{
                        const opt = document.createElement("option")
                        opt.value = it.id;
                        opt.innerText = it.label||"";
                        return opt
                    })
                    id_resource.disabled = false
                }
        } ) }
    }
    $s.subscribe("av.*", null, null, (value,_,name) => {
        const field = name.split(".")[1]
        if (FieldStrategies[field]) {
            FieldStrategies[field](value, $s.get("av"));
        }
    })
}</script>
<script is="exec-mount" type="pass">
        id_availability_form.addEventListener("submit", el => {
            el.preventDefault();
            const formData = new FormData(id_availability_form)
            const data = Object.fromEntries(formData.entries())
            data.week = formData.getAll('week')
            const getSlotOfFive = (value) => {
                const [hours, minutes] = value.split(":").map(Number);
                return Math.floor(((hours * 60) + minutes)/5);
            }
            const parse = (input) => {
                const dayMap = { "1": "MO", "2": "TU", "3": "WE", "4": "TH", "5": "FR", "6": "SA", "7": "SU" };
                const days = input.week.map(d => dayMap[d]).join(",");
                const date = input.valid_from.replace(/-/g, "");
                const startTime = input.time_from.replace(":", "") + "00";
                const untilTime = input.time_until.replace(":", "") + "00";
                const description = input.description
                const valid_until = input.valid_until;
                const duration = getSlotOfFive(input.duration)
                const interval = getSlotOfFive(input.interval)
                const intervalRrule = (duration + interval) * 5
                return {
                    resource: parseInt(input.resource, 10),
                    rrule_params: `DTSTART:${date}T${startTime}\nRRULE:FREQ=MINUTELY;UNTIL=${date}T${untilTime};INTERVAL=${intervalRrule};BYDAY=${days}`,
                    valid_until,
                    duration_slot: duration,
                    interval_slot: interval,
                    description,
                };
            }
            $q.use(
                "availabilities-create",
                ()=>$r.post(
                    "{%url 'availabilities-list'%}",
                    parse(data),
                    { "X-CSRFToken": "{{csrf_token}}" }
                ),
                {
                    onSuccess(data){
                        const modal = document.getElementById("{{key}}_modal")
                        modal.close()
                        $q.refetch('availabilities-list')
                    },
                    onError(err){
                        console.error(err)
                    }
                }
            )
        })
</script>
