{%extends "layouts/crud.html"%}
{%block header%}
<label class="input">
    {% include 'icons/search.svg' %}
    <input type="search" placeholder="{% trans " Search" %}..." />
</label>
{%endblock%}
{%block table_thead%}
<tr>
    <th></th>
    <th>{%trans 'Resources'%}</th>
    <th>{%trans 'Valid From'%}</th>
    <th>{%trans 'Valid Until'%}</th>
    <th>{%trans 'Description'%}</th>
</tr>
{%endblock%}
{%block modal_box%}
<div class="modal-box">
    <h3 class="text-lg font-bold">{% trans "New Availability" %}</h3>
    {%include "pages/app/schedule/settings/availabilities/form.html"%}
</div>
{%endblock%}
{%block render_child%}
<script is="exec-mount" type="pass">
$q.use("{{key|add:'-list'}}",
    ()=>$r.get("{%url key|add:'-list'%}"),
    {
        onSuccess(data){
            debugger
            const items = data.results;
            const el = document.getElementById("{{key}}_table_tbody")
            $u.renderList("{{key}}_render", el, items, (item) => {
                const tr = document.createElement('tr')
                tr.innerHTML = `
                    <th></th>
                    <td>${item.resource}</td>
                    <td>${item.valid_from}</td>
                    <td>${item.valid_until}</td>
                    <td>${item.description || ''}</td>
                `;
                return tr
            });
        }
    },
    { ttl: 0, enableRefetch: true}
)
</script>
{%endblock%}
