<header class="pb-4 flex justify-between">
    <label class="input">
        {% include 'icons/search.svg' %}
        <input type="search" placeholder="{% trans " Search" %}..." />
    </label>
    <button class="btn" onclick="id_new_availability_modal.showModal()">
        {% include "icons/plus.svg" %}
        {% trans "Add" %}
    </button>
</header>
<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
    <table class="table">
        <!-- head -->
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Job</th>
                <th>Favorite Color</th>
            </tr>
        </thead>
        <tbody>
            <!-- row 1 -->
            <tr>
                <th>1</th>
                <td>Cy Ganderton</td>
                <td>Quality Control Specialist</td>
                <td>Blue</td>
            </tr>
            <!-- row 2 -->
            <tr>
                <th>2</th>
                <td>Hart Hagerty</td>
                <td>Desktop Support Technician</td>
                <td>Purple</td>
            </tr>
            <!-- row 3 -->
            <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
                <td>Red</td>
            </tr>
        </tbody>
    </table>
</div>
<dialog id="id_new_availability_modal" class="modal" open>
    <div class="modal-box">
        <h3 class="text-lg font-bold">{% trans "New Availability" %}</h3>
        <form onreset="id_new_availability_modal.close()" class="flex flex-col gap-6 p-4">
            <fieldset class="grid grid-cols-[auto_1fr] gap-4">
                <label class="label" for="id_resource_type"> Tipo de Recurso: </label>
                <select class="select select-sm" id="id_resource_type" required>
                    <option value=""> Empty </option>
                    <option value="1"> Option 1 </option>
                </select>
                <label class="label" for="id_resource"> Recurso: </label>
                <select class="select select-sm" name="resource" id="id_resource" required>
                    <option value=""> Empty </option>
                    <option value="1"> Option 1 </option>
                </select>
            </fieldset>
            <fieldset class="form-continuous-inputs">
                <label for="id_start_date">Disponibilidade de</label>
                <input type="date" name="start_date" id="id_start_date" required />
                <label for="id_until_date">até o dia</label>
                <input type="date" name="until_date" id="id_until_date" disabled required>
            </fieldset>
            <fieldset class="form-continuous-inputs">
                <label>Repetir todas as:</label>
                <div class="join flex-wrap" id="id_week">
                    <input value="1" name="week" type="checkbox" class="btn btn-sm join-item" aria-label="Seg"
                        checked />
                    <input value="2" name="week" type="checkbox" class="btn btn-sm join-item" aria-label="Ter"
                        checked />
                    <input value="3" name="week" type="checkbox" class="btn btn-sm join-item" aria-label="Qua"
                        checked />
                    <input value="4" name="week" type="checkbox" class="btn btn-sm join-item" aria-label="Qui"
                        checked />
                    <input value="5" name="week" type="checkbox" class="btn btn-sm join-item" aria-label="Sex"
                        checked />
                    <input value="6" name="week" type="checkbox" class="btn btn-sm join-item" aria-label="Sáb" />
                    <input value="7" name="week" type="checkbox" class="btn btn-sm join-item" aria-label="Dom" />
                </div>
            </fieldset>
            <fieldset class="form-continuous-inputs [&_input]:max-w-20">
                <label for="id_start_time">No horário das</label>
                <input type="time" name="start_time" id="id_start_time" step="300">
                <label for="id_until_time">até às</label>
                <input type="time" name="until_time" id="id_until_time" step="300">
            </fieldset>
            <fieldset class="form-continuous-inputs [&_input]:max-w-20">
                <label for="id_duration_slot">Dividir em sessões de</label>
                <input type="time" name="duration_slot" id="id_duration_slot">
                <label for="id_interval_slot">com pausas de</label>
                <input type="time" name="interval_slot" id="id_interval_slot">
                <label>entre elas.</label>
            </fieldset>

            <div class="modal-action mt-4">
                <button type="reset" class="btn btn-ghost">Cancelar</button>
                <button type="submit" class="btn btn-primary px-8">Salvar</button>
            </div>
        </form>
        <script is="exec-mount" type="pass">
        $s.createStore("av", {
            resource_type: "",
            start_date: "",
            start_time: "",
            week: ['1','2', '3', '4', '5'],
        })
        id_resource_type.onchange = () => $s.set("av.resource_type", id_resource_type.value)
        id_start_date.onchange = () => $s.set("av.start_date", id_start_date.value)
        id_start_time.onchange = () => $s.set("av.start_time", id_start_time.value)
        $s.subscribe("av.resource_type", id_resource, "disabled", (v) => !v)
        $s.subscribe("av.start_date", id_until_date, "disabled", (v) => !v)
        $s.subscribe("av.start_date", id_until_date, "min")
        $s.subscribe("av.start_time", id_until_time, "disabled", (v) => !v)
        $s.subscribe("av.start_time", id_until_time, "min")
        $s.subscribe("av.start_time", id_duration_slot, "min")
        $s.subscribe("av.start_time", id_interval_slot, "min")
        $s.subscribe("av.until_time", id_duration_slot, "max")
        $s.subscribe("av.until_time", id_interval_slot, "max")
        id_week.querySelectorAll("input").forEach(item => {
            item.onchange = () => {
                let v = $s.get("av.week")
                if (!item.checked) {
                    v = v.filter(i => i !== item.value)
                }
                else {
                    v.push(item.value)
                }
                $s.set("av.week", [...new Set(v)])
            }
        })
        </script>
        <script is="exec-umount" type="pass">
        $s.remove("av")
        </script>

    </div>
</dialog>