<header class="pb-4 flex justify-between">
    <label class="input">
        {% include 'icons/search.svg' %}
        <input type="search" placeholder="{% trans " Search" %}..." />
    </label>
    <button class="btn" onclick="id_new_availability_modal.showModal()">
        {% include "icons/plus.svg" %}
        {% trans "Add" %}
    </button>
</header>
<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
    <table class="table">
        <!-- head -->
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Job</th>
                <th>Favorite Color</th>
            </tr>
        </thead>
        <tbody>
            <!-- row 1 -->
            <tr>
                <th>1</th>
                <td>Cy Ganderton</td>
                <td>Quality Control Specialist</td>
                <td>Blue</td>
            </tr>
            <!-- row 2 -->
            <tr>
                <th>2</th>
                <td>Hart Hagerty</td>
                <td>Desktop Support Technician</td>
                <td>Purple</td>
            </tr>
            <!-- row 3 -->
            <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
                <td>Red</td>
            </tr>
        </tbody>
    </table>
</div>
<dialog id="id_new_availability_modal" class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold">{% trans "New Availability" %}</h3>
        {%include "pages/app/schedule/settings/availabilities/form.html"%}
    </div>
</dialog>