@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "default";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #f5f3f0;
  --color-base-200: #f5f3f0;
  --color-base-300: #f5f3f0;
  --color-base-content: oklch(12% 0.042 264.695);
  --color-primary: oklch(70% 0.213 47.604);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(83% 0.128 66.29);
  --color-secondary-content: oklch(12% 0.042 264.695);
  --color-accent: oklch(76% 0.177 163.223);
  --color-accent-content: oklch(16.678% 0.024 66.558);
  --color-neutral: oklch(39.445% 0.032 275.524);
  --color-neutral-content: oklch(87.889% 0.006 275.524);
  --color-info: oklch(77% 0.152 181.912);
  --color-info-content: oklch(17.652% 0.018 212.846);
  --color-success: oklch(87.099% 0.219 148.024);
  --color-success-content: oklch(17.419% 0.043 148.024);
  --color-warning: oklch(90% 0.182 98.111);
  --color-warning-content: oklch(19.106% 0.026 112.757);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@layer components {
  .bg-pattern-lines-horizontal {
    opacity: 0.8;
    background-size: 20px 20px;
    background-image: repeating-linear-gradient(0deg, #444cf7, #444cf7 1px, #e5e5f7 1px, #e5e5f7);
  }

  .bg-pattern-lines-vertical {
    opacity: 0.8;
    background-size: 20px 20px;
    background-image: repeating-linear-gradient(to right, #444cf7, #444cf7 1px, #e5e5f7 1px, #e5e5f7);
  }

  .bg-pattern-boxes {
    opacity: 0.8;
    --pattern-space: var(--s4, 20px);
    background-image: linear-gradient(var(--c-200, #cbd5e1) 1px, transparent 1px),
      linear-gradient(to right, var(--c-200, #cbd5e1) 1px, transparent 1px);
    background-size: var(--pattern-space) var(--pattern-space);
  }

  .bg-pattern-polka {
    --pattern-space: var(--s4, 20px);
    --spx: 1px;
    --pattern-delta: calc(var(--pattern-space) / 2 * -1 + var(--spx) / 2);
    opacity: 0.8;
    background-image: radial-gradient(var(--c-200, #cbd5e1) var(--spx), transparent var(--spx));
    background-size: var(--pattern-space) var(--pattern-space);
    background-position: var(--pattern-delta) var(--pattern-delta);
  }

  .bg-pattern-diagonal {
    --_pattern-accent: var(--pattern-accent, var(--c-800, #1e293b));
    --_pattern-bg: var(--pattern-bg, var(--c-50, #f8fafc));
    --pattern-thickness: var(--spx, 1px);
    --pattern-size: var(--s2, 10px);
    opacity: 0.3;
    background-size: var(--pattern-size) var(--pattern-size);
    background-image: repeating-linear-gradient(45deg,
        var(--_pattern-accent) 0,
        var(--_pattern-accent) var(--pattern-thickness),
        var(--_pattern-bg) 0,
        var(--_pattern-bg) 50%);
  }

  .bg-pattern-paper {
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 79px, #ab3d3d 79px, #ab3d3d 81px, transparent 81px),
      linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
  }

  .appointment {}

  .appointment-in-progress {}

  .appointment-migrated {}

  .appointment-completed {}

  .appointment-cancelled {}
}

@source "../../../**/*.{html,py,js}";