@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "default";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #f5f3f0;
  --color-base-200: #edebe8;
  --color-base-300: #dedcd9;
  --color-base-content: oklch(12% 0.042 264.695);
  --color-primary: oklch(70% 0.213 47.604);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(83% 0.128 66.29);
  --color-secondary-content: oklch(12% 0.042 264.695);
  --color-accent: oklch(76% 0.177 163.223);
  --color-accent-content: oklch(16.678% 0.024 66.558);
  --color-neutral: oklch(39.445% 0.032 275.524);
  --color-neutral-content: oklch(87.889% 0.006 275.524);
  --color-info: oklch(77% 0.152 181.912);
  --color-info-content: oklch(17.652% 0.018 212.846);
  --color-success: oklch(87.099% 0.219 148.024);
  --color-success-content: oklch(17.419% 0.043 148.024);
  --color-warning: oklch(90% 0.182 98.111);
  --color-warning-content: oklch(19.106% 0.026 112.757);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@layer components {
  .bg-pattern-lines-horizontal {
    opacity: 0.8;
    background-size: 20px 20px;
    background-image: repeating-linear-gradient(0deg, #444cf7, #444cf7 1px, #e5e5f7 1px, #e5e5f7);
  }

  .bg-pattern-lines-vertical {
    opacity: 0.8;
    background-size: 20px 20px;
    background-image: repeating-linear-gradient(to right, #444cf7, #444cf7 1px, #e5e5f7 1px, #e5e5f7);
  }

  .bg-pattern-boxes {
    opacity: 0.8;
    --pattern-space: var(--s4, 20px);
    background-image: linear-gradient(var(--c-200, #cbd5e1) 1px, transparent 1px),
      linear-gradient(to right, var(--c-200, #cbd5e1) 1px, transparent 1px);
    background-size: var(--pattern-space) var(--pattern-space);
  }

  .bg-pattern-polka {
    --pattern-space: var(--s4, 20px);
    --spx: 1px;
    --pattern-delta: calc(var(--pattern-space) / 2 * -1 + var(--spx) / 2);
    opacity: 0.8;
    background-image: radial-gradient(var(--c-200, #cbd5e1) var(--spx), transparent var(--spx));
    background-size: var(--pattern-space) var(--pattern-space);
    background-position: var(--pattern-delta) var(--pattern-delta);
  }

  .bg-pattern-diagonal {
    --_pattern-accent: var(--pattern-accent, var(--c-800, #1e293b));
    --_pattern-bg: var(--pattern-bg, var(--c-50, #f8fafc));
    --pattern-thickness: var(--spx, 1px);
    --pattern-size: var(--s2, 10px);
    opacity: 0.3;
    background-size: var(--pattern-size) var(--pattern-size);
    background-image: repeating-linear-gradient(45deg,
        var(--_pattern-accent) 0,
        var(--_pattern-accent) var(--pattern-thickness),
        var(--_pattern-bg) 0,
        var(--_pattern-bg) 50%);
  }

  .bg-pattern-paper {
    background-color: var(--color-base-100);
    --_ts: var(--tab-space, 79px);
    --_tsend: calc(var(--_ts) + 2px);
    --_lh: 1px;
    background-image: linear-gradient(90deg, transparent var(--_ts), var(--color-base-content) var(--_ts), var(--color-base-content) var(--_tsend), transparent var(--_tsend)),
      linear-gradient(var(--color-base-300) var(--_lh), transparent var(--_lh));
    background-size: 100% var(--slotunit, 1.2em);
  }

  .calendar-grid {
    @apply grid grid-cols-7;
  }

  .calendar-grid>* {
    @apply btn btn-sm btn-square btn-ghost transition-all duration-200;
  }

  .calendar-grid>div {
    @apply opacity-0;
  }


  .calendar-grid>[data-type='range'] {
    @apply btn-soft btn-primary rounded-none border-none;
  }

  .calendar-grid>[data-type='today'] {
    @apply btn-soft;
  }

  .calendar-grid>[data-type='selected'] {
    @apply btn-primary bg-primary text-primary-content z-1;
  }

  .appointment-slot {
    @apply p-2 flex flex-col border border-dashed bg-primary/8 border-primary text-xs rounded-field [&>span]:text-primary [&>span]:font-bold [&>span]:block;
  }

  .preview-slot {
    @apply border border-dashed bg-neutral/8 border-neutral rounded-field text-neutral/50;
  }

  .assignment-slot {
    @apply border border-dashed border-2 rounded-field text-base-content text-xs;
  }

  .assignment-slot button[data-status="CF"] {
    @apply bg-info/40 border-info hover:bg-info active:bg-info
  }

  .assignment-slot button[data-status="CC"] {
    @apply bg-error/40 border-error hover:bg-error active:bg-error
  }

  .assignment-slot button[data-status="IP"] {
    @apply bg-warning/40 border-warning hover:bg-warning active:bg-warning
  }

  .assignment-slot button[data-status="CP"] {
    @apply bg-success/40 border-success hover:bg-success active:bg-success
  }

  .slot-time-label {
    @apply max-w-[var(--tab-space)] label text-xs justify-center flex items-start my-auto snap-start;
  }

  .form-continuous-inputs {
    @apply [&_input]:max-w-30 [&_input]:input [&_input]:input-sm [&_label]:label [&_label]:text-sm;
  }
}

@source "../../../**/*.{html,py,js}";