<div class="grid grid-rows-[auto_1fr] max-h-full overflow-y-auto" style="--tab-space:70px">
    <header> </header>
    <div class="overflow-y-auto max-h-full snap-y">
        <app-timeline id="id_schedule_timeline" slotunit="24px" class="w-full bg-pattern-paper">
        </app-timeline>
    </div>
</div>
<template id="tmpl-appointment-slot">
    <app-slot class="appointment-slot">
        <span class="slot-title font-medium"></span>
        <div class="flex items-center gap-2 opacity-80 text-sm">
            <span class="w-3">{% include 'icons/clock.svg' %}</span>
            <span class="slot-time"></span>
        </div>
    </app-slot>
</template>

<template id="tmpl-empty-slot">
    <app-slot class="appointment-slot">
    </app-slot>
</template>
{%include "components/schedule/view_mode/day/loadtimeinfo.js.html" with id_timeline="id_schedule_timeline"%}
<script is="exec-umount" type="pass">
TimeUtils = null
</script>
<script is="exec-mount" type="pass">
let TimeUtils = {
    SLOT_DURATION_MIN: 5,
    format: (m) => `${String(Math.floor(m / 60)).padStart(2, '0')}:${String(m % 60).padStart(2, '0')}`,
    getRange: (startSlot, duration) => {
        const start = (startSlot - 1) * TimeUtils.SLOT_DURATION_MIN;
        const end = (startSlot - 1 + duration) * TimeUtils.SLOT_DURATION_MIN;
        return `${TimeUtils.format(start)} - ${TimeUtils.format(end)}`;
    },
    getSlotFromISO: (isoString) => {
        try {
            const date = new Date(isoString);
            if (isNaN(date.getTime())) throw new Error("Data inválida");
            const minutesSinceStartOfDay = (date.getHours() * 60) + date.getMinutes();
            return Math.floor(minutesSinceStartOfDay / TimeUtils.SLOT_DURATION_MIN) + 1;
        } catch (e) {
            console.error("TimeUtils.getSlotFromISO Error:", e);
            return null;
        }
    }
};

$s.subscribe("filter.calendar.range", null, null, (range) => {
    if (!range) return;
    $q.use("availabilities_presentation", () => {
        const [init, end] = range.split(",").map(it => it.split("T")[0]);
        return $r.get(`{% url 'availabilities_presentation'%}?date_start=${init}&date_end=${end}`);
    }, {
        onSuccess(data){
            const timeline = document.getElementById('id_schedule_timeline');
            const template = document.getElementById('tmpl-empty-slot');
            const items = []
            data?.forEach(av => {
                av?.occurrences?.forEach(iso => {
                    items.push({
                        start:TimeUtils.getSlotFromISO(iso),
                        duration:av.duration_slot
                    });
                })
            })
            $u.renderList("empty_slots", timeline, items, (it)=>{
                const clone = template.content.cloneNode(true);
                const slot = clone.querySelector('app-slot');
                console.log(it)
                slot.setAttribute('start', it.start);
                slot.setAttribute('duration', it.duration);
                return clone;
            })
        }
    }, { ttl: 0 });
});

$q.use(
    "assignment-list",
    async () => {
        try {
            const data = await $r.get("{% url 'assignment-list'%}")            
            const template = document.getElementById('tmpl-appointment-slot');
            if (!template) return [];

            return data.results.map(it => {
                const clone = template.content.cloneNode(true);
                const slot = clone.querySelector('app-slot');
                slot.setAttribute('start', it.start_slot);
                slot.setAttribute('duration', it.duration_slot);
                clone.querySelector('.slot-title').textContent = it.service.title;
                clone.querySelector('.slot-time').textContent = TimeUtils.getRange(it.start_slot, it.duration_slot);            
                return clone;
            });
        } catch (error) {
            console.error(error);
            return '';
        }
    },
    {
        onSuccess(nodes) {
            const timeline = document.getElementById('id_schedule_timeline');
            if (!timeline) return;
            timeline.querySelectorAll('.appointment-slot').forEach(n => n.remove());
            const fragment = document.createDocumentFragment();
            nodes.forEach(node => fragment.appendChild(node));
            timeline.appendChild(fragment);
        }
    },
    { ttl: 10000 }
);
</script>
