{% extends 'pages/app/layout.html' %}
{% partialdef main %}
{% include 'components/appbar.html' with title=_('RSA Agenda') %}
<section class="w-full">
    <main class="max-w-lg mx-auto">
        <div class="tabs tabs-border">
            <input name="schedule_settings_tab" type="radio" class="tab" aria-label="item 1" />
            <input name="schedule_settings_tab" type="radio" class="tab" aria-label="item 1" />
            <input name="schedule_settings_tab" type="radio" class="tab" aria-label="item 1" />
            <input name="schedule_settings_tab" type="radio" class="tab" aria-label="item 1" />
            <input name="schedule_settings_tab" type="radio" class="tab" aria-label="item 1" />
        </div>
    </main>
</section>
{% endpartialdef %}
{% block section %}
{% partial main %}
{% endblock %}