/* sec:root */
:root {
  --color-white: #ffffff;
  --color-base-50: #e5e5f7;
  /* --color-base-50: #f5f3f0; */
  --color-base-100: #edeae3;
  --color-base-200: #d1ccbf;
  --color-base-300: #b5b0a5;
  --color-base-400: #9a968c;
  --color-base-500: #7f7c74;
  --color-base-600: #63615a;
  --color-base-700: #4b4944;
  --color-base-800: #34322f;
  --color-base-900: #1c1b19;

  --rounded-box: 0.5rem;


  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Vazirmatn, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --default-font-family: var(--font-sans);

  font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");

  --grid-cols-1: repeat(1, minmax(0, 1fr));
  --grid-cols-2: repeat(2, minmax(0, 1fr));
  --grid-cols-3: repeat(3, minmax(0, 1fr));
  --grid-cols-4: repeat(4, minmax(0, 1fr));
  --px: 0.0625rem;  
  --space-1: calc(var(--px) * 4);  /* 4px */
  --space-2: calc(var(--px) * 8);  /* 8px */
  --space-3: calc(var(--px) * 16); /* 16px */
  --space-4: calc(var(--px) * 24); /* 24px */
  --border: var(--px)  solid var(--color-base-100);

  --xs: calc(var(--space-4) * 2);
  --sm: calc(var(--xs) * 2);
  --md: calc(var(--xs) * 3);
  --lg: calc(var(--xs) * 4);
  --xl: calc(var(--xs) * 5);
  --2xl:calc(var(--xs) * 6);

  --text-tiny: 0.625rem;  /* 10px */
  --text-xs: 0.75rem;     /* 12px */
  --text-sm: 0.875rem;    /* 14px */
  --text-base: 1rem;      /* 16px */
  --text-lg: 1.125rem;    /* 18px */
  --text-xl: 1.25rem;     /* 20px */
  --text-2xl: 1.5rem;     /* 24px */
  --text-3xl: 1.875rem;   /* 30px */
  --text-4xl: 2.25rem;    /* 36px */

  --text-tiny--line-height: calc(1 / 0.75);
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base--line-height: calc(1.5 / 1);
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl--line-height: calc(2.5 / 2.25);

  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
  font-weight: 400;
}

/* sec:tags */
body {
  background: var(--color-white);
  margin: 0;
  padding: 0;
}

/* sec:classes */
.overflow-y-auto {
  overflow-y: auto;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-col {
  flex-direction: column;
}
.border-r-1 {
  border-right: var(--border);
}
.border-t-1 {
  border-top: var(--border);
}
.border-color-base-200 {
  border-color: var(--color-base-200);
}
.gap-1 { gap: var(--space-1); }
.gap-2 { gap: var(--space-2); }
.gap-3 { gap: var(--space-3); }
.gap-4 { gap: var(--space-4); }
.p-3 {
  padding: var(--space-3);
}
.p-4 {
  padding: var(--space-4);
}
.px-4 {
  padding: 0 var(--space-4);
}
.py-3 {
  padding: var(--space-3) 0;
}
.py-4 {
  padding: var(--space-4) 0;
}
.pt-4 {
  padding-top: var(--space-4);
}
.pt-1 {
  padding-top: var(--space-1);
}
.pb-1 {
  padding-bottom: var(--space-1);
}
.pb-2 {
  padding-bottom: var(--space-2);
}
.pb-4 {
  padding-bottom: var(--space-4);
}
.mt-1 {
  margin-top: var(--space-1)
}
.mt-2 {
  margin-top: var(--space-2)
}
.mt-3 {
  margin-top: var(--space-3)
}
.mt-4 {
  margin-top: var(--space-4)
}
.mb-1 {
  margin-bottom: var(--space-1)
}
.-mb-1 {
  margin-bottom: calc(var(--space-1) * -1)
}
.-mb-2 {
  margin-bottom: calc(var(--space-2) * -1)
}
/* sec:classes:font-size */
.w-full { width: 100%; }
.w-xs { width: var(--xs);}
.w-sm { width: var(--sm);}
.w-md { width: var(--md);}
.w-lg { width: var(--lg);}
.w-xl { width: var(--xl);}
.w-2xl { width: var(--2xl);}


.h-xs {
  height: var(--xs);
}
.h-1 { 
  height: var(--space-1);
}
.h-2 {
  height: var(--space-2);
}
.h-3 {
  height: var(--space-3);
}
.h-4 {
  height: var(--space-4);
}
.text-tiny {
  font-size: var(--text-tiny); /* 0.625rem (10px) */ 
  line-height: var(--text-tiny--line-height); /* calc(1 / 0.75) */
}
.text-xs {
  font-size: var(--text-xs); /* 0.75rem (12px) */ 
  line-height: var(--text-xs--line-height); /* calc(1 / 0.75) */
}
.text-sm {
  font-size: var(--text-sm); /* 0.875rem (14px) */ 
  line-height: var(--text-sm--line-height); /* calc(1.25 / 0.875) */
}
.text-base {
  font-size: var(--text-base); /* 1rem (16px) */ 
  line-height: var(--text-base--line-height); /* calc(1.5 / 1) */
}
.text-lg {
  font-size: var(--text-lg); /* 1.125rem (18px) */ 
  line-height: var(--text-lg--line-height); /* calc(1.75 / 1.125) */
}
.text-xl {
  font-size: var(--text-xl); /* 1.25rem (20px) */ 
  line-height: var(--text-xl--line-height); /* calc(1.75 / 1.25) */
}
.text-2xl {  
  font-size: var(--text-2xl); /* 1.5rem (24px) */ 
  line-height: var(--text-2xl--line-height); /* calc(2 / 1.5) */
}
.text-3xl {
  font-size: var(--text-3xl); /* 1.875rem (30px) */ 
  line-height: var(--text-3xl--line-height); /* calc(2.25 / 1.875) */  
}
.text-4xl {  
  font-size: var(--text-4xl); /* 2.25rem (36px) */ 
  line-height: var(--text-4xl--line-height); /* calc(2.5 / 2.25) */
}
.font-thin {
  font-weight: 100;
}
.font-extralight {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.font-black {
  font-weight: 900;
}
/* sec:classes:sizes */
.size-screen {
  width: 100dvw;
  height: 100dvh;
}
.min-h-xs {
  min-height: var(--xs);
}
/* sec:classes:grid */
.grid {
  display: grid;
}
.grid-cols-1 {
  grid-template-columns: var(--grid-cols-1);
}
.grid-cols-2 {
  grid-template-columns: var(--grid-cols-2);
}
.grid-cols-3 {
  grid-template-columns: var(--grid-cols-3);
}
.grid-cols-4 {
  grid-template-columns: var(--grid-cols-4);
}

/* sec:classes:bg */
.bg-base-50 {
  background: var(--color-base-50);
}
.bg-base-100 {
  background: var(--color-base-100);
}
.bg-base-200 {
  background: var(--color-base-200);
}
.bg-base-300 {
  background: var(--color-base-300);
}
.bg-pattern-lines-horizontal {
  opacity: 0.8;
  background-size: 20px 20px;
  background-image:  repeating-linear-gradient(0deg, #444cf7, #444cf7 1px, #e5e5f7 1px, #e5e5f7);
}
.bg-pattern-lines-horizontal {
  opacity: 0.8;
  background-size: 20px 20px;
  background-image:  repeating-linear-gradient(to right, #444cf7, #444cf7 1px, #e5e5f7 1px, #e5e5f7);
}
.bg-pattern-boxes {
  opacity: 0.8;
  background-image:  linear-gradient(#444cf7 1px, transparent 1px), linear-gradient(to right, #444cf7 1px, #e5e5f7 1px);
  background-size: 20px 20px;
}
.bg-pattern-polka {
  --polka-space: var(--space-4);
  --polka-detal: calc(var(--polka-space) / 2 * -1 + var(--px) / 2);
  opacity: 0.8;
  background-image: radial-gradient(var(--color-base-200) var(--px), #00000000 var(--px));
  background-size: var(--polka-space) var(--polka-space);
  background-position: var(--polka-detal) var(--polka-detal);
}
.bg-pattern-diagonal {
  --pattern-accent: var(--color-base-800);
  --pattern-bg: var(--color-base-50);
  --pattern-thickness: var(--px);
  --pattern-size: var(--space-2);
  opacity: 0.3;
  background-size: var(--pattern-size) var(--pattern-size);
  background-image: repeating-linear-gradient(
    45deg,
    var(--pattern-accent) 0,
    var(--pattern-accent) var(--pattern-thickness),
    var(--pattern-bg) 0,
    var(--pattern-bg) 50%
  );
}

/* sec:media */
@media (width >= 40rem) {
  
}
@media (width >= 48rem) {
  .md\:grid-cols-1 {
    grid-template-columns: var(--grid-cols-1);
  }
  .md\:grid-cols-2 {
    grid-template-columns: var(--grid-cols-2);
  }
  .md\:grid-cols-3 {
    grid-template-columns: var(--grid-cols-3);
  }
  .md\:grid-cols-4 {
    grid-template-columns: var(--grid-cols-4);
  }
}
@media (width >= 64rem) {
  
}
@media (width >= 80rem) {
  
}
@media (width >= 96rem) {
  
}
