/* sec:root */
:root {
  --c-white: #ffffff;
  /* --c-50: #e5e5f7; */
  --c-50: #f5f3f0;
  --c-100: #edeae3;
  --c-200: #d1ccbf;
  --c-300: #b5b0a5;
  --c-400: #9a968c;
  --c-500: #7f7c74;
  --c-600: #63615a;
  --c-700: #4b4944;
  --c-800: #34322f;
  --c-900: #1c1b19;

  --b-unit: 0.0625rem;

  --s1: calc(var(--b-unit) * 4);
  /* 4px */
  --s2: calc(var(--b-unit) * 8);
  /* 8px */
  --s3: calc(var(--b-unit) * 16);
  /* 16px */
  --s4: calc(var(--b-unit) * 24);
  /* 24px */

  --sdef: var(--s4);

  --border: var(--b-unit) solid var(--c-100);

  --xs: calc(var(--s4) * 2);
  --sm: calc(var(--xs) * 2);
  --md: calc(var(--xs) * 3);
  --lg: calc(var(--xs) * 4);
  --xl: calc(var(--xs) * 5);
  --2xl: calc(var(--xs) * 6);

  --text-2xs: 0.625rem;
  /* 10px */
  --text-xs: 0.75rem;
  /* 12px */
  --text-sm: 0.875rem;
  /* 14px */
  --text-base: 1rem;
  /* 16px */
  --text-lg: 1.125rem;
  /* 18px */
  --text-xl: 1.25rem;
  /* 20px */
  --text-2xl: 1.5rem;
  /* 24px */
  --text-3xl: 1.875rem;
  /* 30px */
  --text-4xl: 2.25rem;
  /* 36px */

  --text-2xs-lh: calc(1 / 0.75);
  --text-xs-lh: calc(1 / 0.75);
  --text-sm-lh: calc(1.25 / 0.875);
  --text-base-lh: calc(1.5 / 1);
  --text-lg-lh: calc(1.75 / 1.125);
  --text-xl-lh: calc(1.75 / 1.25);
  --text-2xl-lh: calc(2 / 1.5);
  --text-3xl-lh: calc(2.25 / 1.875);
  --text-4xl-lh: calc(2.5 / 2.25);

  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Vazirmatn, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --default-font-family: var(--font-sans);
  font-size: var(--text-base);
  line-height: var(--text-base-lh);
  font-weight: 400;
  font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");

}

/* sec:tags */
body {
  background: var(--c-white);
  margin: 0;
  padding: 0;
}

/* sec:classes */
.overflow-y-auto {
  overflow-y: auto;
}

/* sec:classes:flex */
[class*="flex "] {
  display: flex;
}

[class*="flex-wrap"] {
  flex-wrap: wrap;
}

[class*="flex-col"] {
  flex-direction: column;
}

/* sec:classes:border */
[class^="border"][class$="-1"] {
  --b: var(--b-unit)
}

[class^="border"][class$="-2"] {
  --b: calc(var(--b-unit) * 2)
}

[class^="border"][class$="-3"] {
  --b: calc(var(--b-unit) * 3)
}

[class^="border"][class$="-4"] {
  --b: calc(var(--b-unit) * 4)
}

[class*="border"] {
  --_b: var(--b, var(--b-unit)) solid var(--bc, var(--c-100));
}

[class*="border-f"] {
  border: var(--_b);
}

[class*="border-x"] {
  border-inline: var(--_b);
}

[class*="border-y"] {
  border-block: var(--_b);
}

[class*="border-t"] {
  border-top: var(--_b);
}

[class*="border-b"] {
  border-bottom: var(--_b);
}

[class*="border-r"] {
  border-right: var(--_b);
}

[class*="border-l"] {
  border-left: var(--_b);
}

/* sec:classes:gap */

[class^="gap"][class$="-1"] {
  --g: var(--s1)
}

[class^="gap"][class$="-2"] {
  --g: var(--s2)
}

[class^="gap"][class$="-3"] {
  --g: var(--s3)
}

[class^="gap"][class$="-4"] {
  --g: var(--s4)
}

[class*="gap"] {
  --_g: var(--g, var(--sdef, var(--s4)));
}

[class*="gap-f"] {
  gap: var(--_g);
}

[class*="gap-y"] {
  row-gap: var(--_g);
}

[class*="gap-x"] {
  column-gap: var(--_g);
}

/* sec:classes:padding */
[class^="p"][class$="-1"] {
  --p: var(--s1)
}

[class^="p"][class$="-2"] {
  --p: var(--s2)
}

[class^="p"][class$="-3"] {
  --p: var(--s3)
}

[class^="p"][class$="-4"] {
  --p: var(--s4)
}

[class*="p"] {
  --_p: var(--p, var(--s4))
}

[class*="p-f"] {
  padding: var(--_p);
}

[class*="p-t"] {
  padding-top: var(--_p);
}

[class*="p-b"] {
  padding-bottom: var(--_p);
}

[class*="p-r"] {
  padding-right: var(--_p);
}

[class*="p-l"] {
  padding-left: var(--_p);
}

[class*="p-x"] {
  padding-inline: var(--_p);
}

[class*="p-y"] {
  padding-block: var(--_p);
}

/* sec:classes:margin */
[class^="m"][class$="-1"] {
  --m: var(--s1)
}

[class^="m"][class$="-2"] {
  --m: var(--s2)
}

[class^="m"][class$="-3"] {
  --m: var(--s3)
}

[class^="m"][class$="-4"] {
  --m: var(--s4)
}

[class*="m"] {
  --_m: var(--m, var(--s4))
}

[class*="m-f"] {
  padding: var(--_m);
}

[class*="m-t"] {
  margin-top: var(--_m);
}

[class*="m-b"] {
  margin-bottom: var(--_m);
}

[class*="m-r"] {
  margin-right: var(--_m);
}

[class*="m-l"] {
  margin-left: var(--_m);
}

[class*="m-x"] {
  margin-inline: var(--_m);
}

[class*="m-y"] {
  margin-block: var(--_m);
}

/* sec:classes:size */
[class^="w-"],
[class*=" w-"] {
  width: var(--w);
}

[class^="h-"],
[class*=" h-"] {
  height: var(--h);
}

/* 3. Utilitários de Largura (Suffixes) */
.w-full {
  --w: 100%;
}

.w-screen {
  --w: 100dvw;
}

.w-xs {
  --w: var(--xs);
}

.w-sm {
  --w: var(--sm);
}

.w-md {
  --w: var(--md);
}

.w-lg {
  --w: var(--lg);
}

.w-xl {
  --w: var(--xl);
}

.w-2xl {
  --w: var(--2xl);
}

/* 4. Utilitários de Altura (Suffixes) */
.h-full {
  --h: 100%;
}

.h-screen {
  --h: 100dvh;
}

.h-xs {
  --h: var(--xs);
}

.h-sm {
  --h: var(--sm);
}

.h-md {
  --h: var(--md);
}

.h-lg {
  --h: var(--lg);
}

.h-xl {
  --h: var(--xl);
}

.h-2xl {
  --h: var(--2xl);
}

/* sec:classes:text */
.text-2xs {
  font-size: var(--text-2xs);
  /* 0.625rem (10px) */
  line-height: var(--text-2xs-lh);
  /* calc(1 / 0.75) */
}

.text-xs {
  font-size: var(--text-xs);
  /* 0.75rem (12px) */
  line-height: var(--text-xs-lh);
  /* calc(1 / 0.75) */
}

.text-sm {
  font-size: var(--text-sm);
  /* 0.875rem (14px) */
  line-height: var(--text-sm-lh);
  /* calc(1.25 / 0.875) */
}

.text-base {
  font-size: var(--text-base);
  /* 1rem (16px) */
  line-height: var(--text-base-lh);
  /* calc(1.5 / 1) */
}

.text-lg {
  font-size: var(--text-lg);
  /* 1.125rem (18px) */
  line-height: var(--text-lg-lh);
  /* calc(1.75 / 1.125) */
}

.text-xl {
  font-size: var(--text-xl);
  /* 1.25rem (20px) */
  line-height: var(--text-xl-lh);
  /* calc(1.75 / 1.25) */
}

.text-2xl {
  font-size: var(--text-2xl);
  /* 1.5rem (24px) */
  line-height: var(--text-2xl-lh);
  /* calc(2 / 1.5) */
}

.text-3xl {
  font-size: var(--text-3xl);
  /* 1.875rem (30px) */
  line-height: var(--text-3xl-lh);
  /* calc(2.25 / 1.875) */
}

.text-4xl {
  font-size: var(--text-4xl);
  /* 2.25rem (36px) */
  line-height: var(--text-4xl-lh);
  /* calc(2.5 / 2.25) */
}

.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

/* sec:classes:grid */
.grid {
  display: grid;
}

.grid-cols {
  grid-template-columns: repeat(var(--gc, 1), minmax(0, 1fr));
}

/* sec:classes:bg */
.bg-base-50 {
  background: var(--c-50);
}

.bg-base-100 {
  background: var(--c-100);
}

.bg-base-200 {
  background: var(--c-200);
}

.bg-base-300 {
  background: var(--c-300);
}

.bg-pattern-lines-horizontal {
  opacity: 0.8;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(0deg, #444cf7, #444cf7 1px, #e5e5f7 1px, #e5e5f7);
}

.bg-pattern-lines-vertical {
  opacity: 0.8;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(to right, #444cf7, #444cf7 1px, #e5e5f7 1px, #e5e5f7);
}

.bg-pattern-boxes {
  opacity: 0.8;
  background-image: linear-gradient(#444cf7 1px, transparent 1px), linear-gradient(to right, #444cf7 1px, #e5e5f7 1px);
  background-size: 20px 20px;
}

.bg-pattern-polka {
  --polka-space: var(--s4);
  --polka-detal: calc(var(--polka-space) / 2 * -1 + var(--b-unit) / 2);
  opacity: 0.8;
  background-image: radial-gradient(var(--c-200) var(--b-unit), #00000000 var(--b-unit));
  background-size: var(--polka-space) var(--polka-space);
  background-position: var(--polka-detal) var(--polka-detal);
}

.bg-pattern-diagonal {
  --pattern-accent: var(--c-800);
  --pattern-bg: var(--c-50);
  --pattern-thickness: var(--b-unit);
  --pattern-size: var(--s2);
  opacity: 0.3;
  background-size: var(--pattern-size) var(--pattern-size);
  background-image: repeating-linear-gradient(45deg,
      var(--pattern-accent) 0,
      var(--pattern-accent) var(--pattern-thickness),
      var(--pattern-bg) 0,
      var(--pattern-bg) 50%);
}

/* sec:media */
@media (width >=40rem) {}

@media (width >=48rem) {
  .md\:grid-cols-1 {
    grid-template-columns: var(--grid-cols-1);
  }

  .md\:grid-cols-2 {
    grid-template-columns: var(--grid-cols-2);
  }

  .md\:grid-cols-3 {
    grid-template-columns: var(--grid-cols-3);
  }

  .md\:grid-cols-4 {
    grid-template-columns: var(--grid-cols-4);
  }
}

@media (width >=64rem) {}

@media (width >=80rem) {}

@media (width >=96rem) {}