<div class="w-full">
    {% partialdef status %}
    <div class="badge badge-xs sm:badge-sm badge-soft [&>svg]:w-[10px] [&>svg]:sm:w-[16px] tooltip" data-tip="{{text}}">
        {% include 'icons/'|add:icon|add:'.svg'%}
        <span class="dashboard-status" data-label="{{icon}}">
            {{count|default:0}}
        </span>
    </div>
    {% endpartialdef %}
    {% with icon="status-pendding" text=_('Pendding')%}
    {% partial status %}
    {% endwith %}
    {% with icon="status-confirmed" text=_('Confirmed')%}
    {% partial status %}
    {% endwith %}
    {% with icon="status-in-progress" text=_('In Progress')%}
    {% partial status %}
    {% endwith %}
    {% with icon="status-completed" text=_('Completed')%}
    {% partial status %}
    {% endwith %}
    {% with icon="status-migrated" text=_('Migrated')%}
    {% partial status %}
    {% endwith %}
    {% with icon="status-cancelled" text=_('Cancelled')%}
    {% partial status %}
    {% endwith %}
    {% with icon="status-absent" text=_('Absent')%}
    {% partial status %}
    {% endwith %}
</div>
<script is="exec-mount" type="pass">
$s.subscribe('filter_query_params', null, null, (queryparams) => {
  $q.use(
    ['dashboard-status'],
    () => {
      const buildUrl = (baseUrl, params) => {
        const searchParams = new URLSearchParams();
        Object.entries(params).forEach(([key, value]) => {
            if (value !== undefined && value !== null && value !== '') {
                searchParams.append(key, value);
            }
        });

        const queryString = searchParams.toString();
        return queryString ? `${baseUrl}?${queryString}` : baseUrl;
      };
      const filters = {
          status: queryparams?.status,
          date: queryparams?.day,
          service: queryparams?.service,
          resources__parent: queryparams?.resource_category,
          resources: queryparams?.resource,
      };

      const url = buildUrl("{% url 'schedule-dashboard-status' %}", filters);
      return $r.get(url);
    },
    {
      onSuccess(data){
        const mapStatus = {
          'status-pendding': 'PD',
          'status-confirmed': 'CF',
          'status-in-progress': 'IP',
          'status-completed': 'CP',
          'status-migrated': 'MG',
          'status-cancelled': 'CC',
          'status-absent': 'AB',
        }
        document.querySelectorAll(".dashboard-status").forEach(it => {
          const count = data.find(s => s.status === mapStatus[it.dataset.label])?.total || 0
          it.innerText = count
        })
      }
    },
    {
      enableRefetch:true,
    }
  ) 
})
</script>