{% get_current_language as LANG_CODE %}
<div class="p-6 border-t border-base-200 bg-base-100 shadow-[0_-8px_24px_rgba(0,0,0,0.04)]">
    <h4 class="text-sm font-bold mb-3 flex items-center gap-1.5 [&>svg]:w-4">
        {%include "icons/plus.svg"%}
        {%trans "Send new feedback"%}
    </h4>

    <form class="space-y-3" id="id_feedback_form">
        <!-- Campo Categoria -->
        <label class="floating-label">
            <span>
                {%trans "What is your feedback about?"%}
            </span>
            <select class="select select-sm w-full" name="category" required>
                <option disabled selected value="">{%trans "Select a category"%}...</option>
                <option value="FT">{%trans "Suggestion for Improvement / Resource"%}</option>
                <option value="BG">{%trans "Report a Problem / Bug"%}</option>
                <option value="OT">{%trans "Praise or Others"%}</option>
            </select>
        </label>

        <!-- Campo Mensagem -->
        <label class="floating-label w-full">
            <span> {%trans "Your message"%} </span>
            <textarea class="textarea textarea-sm w-full" name="text" required minlength="3"
                placeholder="{%trans 'Describe the problem or suggestion in as much detail as possible'%}..."></textarea>
        </label>

        <!-- Botão de Envio -->
        <button type="submit" class="btn btn-primary btn-sm btn-block uppercase">
            {%trans "Send Feedback"%}
        </button>
    </form>
    <script is="exec-mount" type="pass">
        {
            $q.use(
                ["get-feedback-meessage"],
                () => $r.get("{%url 'feedback-messages-list'%}"),
                {
                    onSuccess(data) {
                        const feedbackScrollContent = document.getElementById('id_feedback_scroll_content');
                        if (!feedbackScrollContent) return;

                        feedbackScrollContent.textContent = '';

                        const labelUpdate = "{% trans 'Last update' %}";
                        const labelCreate = "{% trans 'Created at' %}";

                        const fragment = document.createDocumentFragment();

                        data?.results?.forEach(it => {
                            const feedbackMessage = document.createElement('app-fb');
                            const fmt = (dateStr)=> {
                                if (!dateStr) return ""
                                const dateObj = new Date(dateStr)
                                return new Intl.DateTimeFormat('{{LANG_CODE}}', {
                                    day: '2-digit',
                                    month: '2-digit',
                                    year: 'numeric',
                                    hour: '2-digit',
                                    minute: "2-digit"
                                }).format(dateObj);
                            }

                            feedbackMessage.setAttribute('update_label', labelUpdate);
                            feedbackMessage.setAttribute('create_label', labelCreate);
                            feedbackMessage.setAttribute('create_at', fmt(it.created || ''));
                            feedbackMessage.setAttribute('update_at', fmt(it.modified || ''));
                            feedbackMessage.setAttribute('category', {
                                'BG': "{%trans 'Problem'%}",
                                'FT': "{%trans 'New feature'%}",
                                'OT': "{%trans 'Other'%}",
                                '': "",
                            }[it.category || '']);
                            feedbackMessage.setAttribute('status', {
                                'NW': "{%trans 'Sent'%}",
                                'RV': "{%trans 'Under analysis'%}",
                                'CP': "{%trans 'Answered'%}",
                                '': "",
                            }[it.status || '']);
                            feedbackMessage.setAttribute('text', it.text || '');

                            if (it.response_set){
                                it.response_set?.forEach(it => {
                                    if (!it.is_viewed){
                                        const d = document.querySelector(".btn-feedback")
                                        if (d){
                                            d.dataset.view = true  
                                        }
                                    }
                                    feedbackMessage.setAttribute("new_response",JSON.stringify({
                                        text: it.text,
                                        date: fmt(it.created),
                                        response_label:"{% trans "Response" %}"
                                    }))
                                })
                            }
                            fragment.appendChild(feedbackMessage);
                        });

                        feedbackScrollContent.appendChild(fragment);
                    }
                }
            )
            const form = document.getElementById("id_feedback_form");
            if (form) {
                form.onsubmit = (event) => {
                    event.preventDefault();
                    const data = new FormData(event.target)
                    const body = {
                        category: data.get("category"),
                        text: data.get("text"),
                    }
                    $q.use(
                        ["post-feedback-meessage"],
                        () => $r.post(
                            "{%url 'feedback-messages-list'%}",
                            body,
                            {"X-CSRFToken": "{{csrf_token}}"},
                        ),
                        {
                            onSuccess(data) {
                                toastSuccess("{%trans 'Sended feedback.'%}")
                                $q.refetch(["get-feedback-meessage"])
                            },
                            onError(e) {
                                if (e.status >= 400 && e.status < 500) {
                                    toastError(e.data)
                                    return
                                }
                                toastError("{%trans 'Erro to send feedback'%}")
                            }
                        }
                    )
                }
            }
        }
    </script>
</div>