<div id="id_filter_resource_set" class="flex gap-4 flex-wrap"> </div>
<script is="exec-mount" type="text/template">
$q.use(
    'resources-list',
    ()=>fetch("{% url 'resources-list' %}").then(r => r.json()),
    {
        onSuccess:(data)=> {
            const frag = document.createDocumentFragment()
            data.results.forEach(item => {
                const elId = `id_filter_resource_${item.code}`
                const options = item.childrens.map(opt => `
                    <option value="${opt.id}"> ${opt.name} </option>
                `).join("")
                const label = document.createElement('label')
                label.for = elId;
                label.classList.add('floating-label');
                label.innerHTML = `
                    <select class="select" id="${elId}">
                    <option>
                    {%trans "Show All"%}
                    </option>
                    ${options}
                    </select>
                    <span>${item.name}</span>
                `
                frag.appendChild(label)
            })
            id_filter_resource_set.replaceChildren(frag)
        }
    },
)
</script>