<select class="select" id="id-filter-resources" onchange="$s.set('filter.resources', this.value)"> </select>
<script>
$q.use(
    'resources-list',
    "{% url 'resources-list' %}",
    {
        onSuccess:(data)=> {
            const el = document.getElementById('id-filter-resources')
            const options = data.results.map(it => 
                `<option value="${it.id}">${it.name}</option>`
            ).join('');
            el.innerHTML = `<option value="">{% trans 'Show All Resources' %}</option>` + options;
        }
    },
)
</script>
