<select class="select" id="id-filter-services" onchange="$s.set('filter.services', this.value)">
    <option selected>
        {%trans 'Show All Services'%}
    </option>
</select>
<script>
$q.use(
    'get-schedule-services',
    "{% url 'services-list' %}",
    {
        onSuccess:(data)=> {
            const el = document.getElementById('id-filter-services')
            el.querySelectorAll("[value]").forEach(e => e.remove())
            data.results.map(it => {
                const opt = document.createElement('option')
                opt.value = it.id
                opt.textContent = it.title
                el.appendChild(opt)
            })
        }
    },
    {
        refetchOnFocus: true
    }
)
</script>
