{% partialdef status %}
<li>
    <button class="group" data-value="{{value}}" data-label="{% trans label%}">
        <span class="opacity-0 group-[.menu-active]:opacity-100">&checkmark;</span>
        {% trans label %}
        {% if icon %}
        {% include icon %}
        {% endif %}
    </button>
</li>
{% endpartialdef %}
<label class="floating-label  min-w-3xs">
    <button id="id_filter_status_trigger" class="select select-sm" popovertarget="id_filter_status"
        style="anchor-name:--anchor-filter-status">
    </button>
    <span>
        {%trans "Status"%}
    </span>
</label>
<ul class="dropdown menu menu-sm w-52 rounded-box bg-base-100 shadow-sm" popover id="id_filter_status"
    style="position-anchor:--anchor-filter-status">
    {% with value='' label="Show all available times"%}
    {% partial status %}
    {% endwith %}
    {% with value='PD' label="Pendding" icon="icons/status-pendding.svg" %}
    {% partial status %}
    {% endwith %}
    {% with value='CF' label="Confirmed" icon="icons/status-confirmed.svg" %}
    {% partial status %}
    {% endwith %}
    {% with value='IP' label="In Progress" icon="icons/status-in-progress.svg" %}
    {% partial status %}
    {% endwith %}
    {% with value='CP' label="Completed" icon="icons/status-completed.svg" %}
    {% partial status %}
    {% endwith %}
    {% with value='MG' label="Migrated" icon="icons/status-migrated.svg" %}
    {% partial status %}
    {% endwith %}
    {% with value='CC' label="Cancelled" icon="icons/status-cancelled.svg" %}
    {% partial status %}
    {% endwith %}
    {% with value='AB' label="Absent" icon="icons/status-absent.svg" %}
    {% partial status %}
    {% endwith %}
</ul>
<script is="exec-mount" type="text/template">
id_filter_status.querySelectorAll("button").forEach(el => {
    $s.subscribe("filter.status", el, null, (v, el) => {
        const isSelected = v === el.dataset.value
        el.classList.toggle("menu-active", isSelected);
        id_filter_status.hidePopover()
        if (isSelected) {
            id_filter_status_trigger.innerText = el.dataset.label
        }
    })
    el.onclick = () => {
        $s.set("filter.status", el.dataset.value)
    }
})
</script>
