<label for="id_filter_service" class="floating-label">
    <select class="select" id="id_filter_service" onchange="$s.set('filter.services', this.value)"> </select>
    <span>{% trans 'Service' %}</span>
</label>
<script is="exec-mount" type="text/template">
$q.use(
    'services-list',
    ()=>fetch("{% url 'services-list' %}").then(r =>r.json()),
    {
        onSuccess:(data)=> {
            const frag = document.createDocumentFragment()
            const options = data.results.map(it => {
                const opt = document.createElement('option')
                opt.value = it.id
                opt.innerText = it.title
                frag.appendChild(opt)
            });
            const opt = document.createElement('option')
            opt.value = ""
            opt.innerText = "{% trans 'Show All Services' %}"
            frag.appendChild(opt)
            id_filter_service.replaceChildren(frag)
        }
    },
)
</script>