{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'app.css' %}">
{% endblock %}
{% block body %}
    <c-layout>
    <aside slot="sidebar">
        <nav>
            <form is="ajax-form" endpoint="{% url 'schedule_view' %}" store="schedule">
                <button type="submit">
                    <s-if state="schedule.status" when="it === 200">
                        <div data-state="schedule.data" />
                        <s-else>
                            Submit
                        </s-else>
                    </s-if>
                </button>
            </form>
        </nav>
    </aside>
    <main slot="content">
        Conteúdo Principal
    </main>
    </c-layout>
{% endblock %}
