{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block style %}
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <link rel="stylesheet" href="{% static 'components.css' %}">
{% endblock %}
{% block body %}
    <div class="grid grid-cols h-screen" style="--gc: 15rem auto">
        <aside class="border-r p-f flex flex-col gap-y">
            <span class="flex items-end m-x" style="--mx:auto">
                <h2>{% trans 'Ágio' %}</h2>
            </span>
            <nav class="flex flex-col gap-y" style="--gy:var(--s1)">
                <app-nav-option 
                    store="nav-menu"
                    endpoint="{% url 'schedule_view' %}"
                > Vendas </app-nav-option>
                <h5 class='border-t'>Agenda</h5>
                <app-nav-option 
                    store="nav-menu"
                    endpoint="{% url 'schedule_view' %}"
                    default
                > Agendamentos </app-nav-option>
                <app-nav-option 
                    store="nav-menu"
                    endpoint="{% url 'redoc' %}"
                > Tarefas </app-nav-option>
                <h5 class='border-t'>Financeiro</h5>
                <app-nav-option 
                    store="nav-menu"
                    endpoint="{% url 'schedule_view' %}"
                > Agendamentos </app-nav-option>
                <app-nav-option 
                    store="nav-menu"
                    endpoint="{% url 'redoc' %}"
                > Tarefas </app-nav-option>
                <!-- <app-nav-option --> 
                    <!-- store="nav-menu" -->
                    <!-- endpoint="{% url 'schedule_view' %}" -->
                <!-- > Eventos </app-nav-option> -->
            </nav>
        </aside>
        <main>
            {% include 'schedule.html' %}
        </main>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'state.js' %}"></script>
    <script src="{% static 'query.js' %}"></script>
    <script src="{% static 'custom-tags.js' %}"></script>
    <script src="{% static 'components.js' %}"></script>
{% endblock %}
