{% extends 'base.html' %}
{% block body %}
    <main style="width: 100%;
                 height: 100vh;
                 display: flex;
                 flex-direction: column;
                 align-items: center;
                 justify-content: center">
        <s-def key="username" value="Dev" />
        <s-view keys="username">
            <p>
                Olá, <span data-bind="username"></span>!
            </p>
            <input data-bind="username" data-at="value" />
        </s-view>
        <input oninput="setState('username', this.value)"
               placeholder="Digite seu nome..." />
        <p-json value='{"name":"roberto", "tasks": ["tas1"]}'>
            <span data-bind="name"></span>
        </p-json>
    </main>
{% endblock %}
