{% extends 'navbar.html' %}
{% block navbar_title %}
    {% trans 'RSA Agenda' %}
{% endblock %}
{% partialdef fieldset_filter %}
<fieldset class="fieldset border-t border-base-content/10">
    <legend class="fieldset-legend text-base-content/50">{{ title }}</legend>
    {% include content %}
</fieldset>
{% endpartialdef %}
{% block content %}
    <!-- filter states -->
    <app-state name="f-calendar-range"></app-state>
    <app-state name="f-calendar" value="{% now 'c' %}"></app-state>
    <app-state name="f-calendar-view" value="w" at="checked"></app-state>
    <app-state name="f-search" value=""></app-state>
    <app-state name="f-services"></app-state>
    <app-state name="f-resources"></app-state>
    <app-state name="f-assignment-status" at="checked"></app-state>
    <div class="hidden"
         data-state="f-calendar,f-calendar-view"
         data-then="() => EfDateRange.apply()"></div>
    <div class="grid grid-cols-[16rem_1fr] h-full bg-base-100">
        <aside class="p-4 border-r border-base-content/10 flex flex-col gap-4">
            {% include 'components/filter-calendar.html' %}
            {% with content='components/filter-resources.html' title=_('Resources') %}
                {% partial fieldset_filter %}
            {% endwith %}
            {% with content='components/filter-services.html' title=_('Services') %}
                {% partial fieldset_filter %}
            {% endwith %}
        </aside>
        <main class="bg-base-200/30">
            <div class="w-full flex justify-between p-2 pr-4 border-b border-base-content/10 items-center">
                <div class="flex flex-wrap gap-4 w-full">
                    {% include 'components/calendar-view-mode.html' %}
                    {% include 'components/filter-search.html' %}
                    {% include 'components/filter-assignment-status.html' %}
                </div>
                <button class="btn btn-primary pl-2">
                    {% include 'icons/plus.svg' %}
                    {% trans 'Add' %}
                </button>
            </div>
            <div>{% include 'schedule_view_mode/week.html' %}</div>
        </main>
    </div>
    <script is="app-scope" onclearup="delete EfDateRange">
        window.EfDateRange = {
            apply(){
                const dateStr = getState('f-calendar');
                const viewStr = getState('f-calendar-view');

                if (!dateStr || !viewStr) return;

                const date = new Date(dateStr);

                let dateStart, dateEnd;

                if (viewStr === 'm') {
                    dateStart = new Date(date.getFullYear(), date.getMonth(), 1);
                    dateEnd = new Date(date.getFullYear(), date.getMonth() + 1, 0);
                } 
                else if (viewStr === 'w') {
                    const dayOfWeek = date.getDay();
                    dateStart = new Date(date);
                    dateStart.setDate(date.getDate() - dayOfWeek);
            
                    dateEnd = new Date(dateStart);
                    dateEnd.setDate(dateStart.getDate() + 6);
                } 
                else if (viewStr === 'd') {
                    dateStart = new Date(date);
                    dateEnd = new Date(date);
                }
                if (states.has('f-calendar-range')) {
                    setState('f-calendar-range', [
                        dateStart.toISOString(),
                        dateEnd.toISOString()
                    ])
                }
            }
        }
    </script>
{% endblock %}
