{% extends 'base.html' %}
{% load static %}
{% block title %}App UI Styleguide{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'app.css' %}">
{% endblock %}
{% block body %}
    <app-state name="section-style" value="--minw:var(--lg);--minh:var(--xl);" at="style"></app-state>
    <app-state name="section-class" value="flex flex-col border-t min-w min-h" at="class"></app-state>
    <main class="w-full min-h-screen bg-white bg-pattern-polka">
        <footer class="text-2xl font-semibold p-x w-full m-t"
                style="--text-2xl-lh: var(--s8)">
            <h3>App UI Styleguide</h3>
        </footer>
        <section class="p-x m-t bg-lines flex flex-wrap gap-f">
            <section data-state="section-class,section-style">
                <h5>Typography</h5>
                <h1>Typography</h1>
                <h2>Typography</h2>
                <h3>Typography</h3>
                <h4>Typography</h4>
                <h5>Typography</h5>
                <h6>Typography</h6>
                <small>Typography</small>
            </section>
            <section data-state="section-class,section-style">
                <h5>Sizes</h5>
                <app-state name="size-class" value="bg-base-300 bg-pattern-diagonal w h border-f" at="class"></app-state>
                <div class="flex flex-wrap gap-f">
                    <div data-state="size-class" style="--w:var(--xs);--h:var(--xs)"></div>
                    <div data-state="size-class" style="--w:var(--sm);--h:var(--xs)"></div>
                    <div data-state="size-class" style="--w:var(--md);--h:var(--xs)"></div>
                    <div data-state="size-class" style="--w:var(--lg);--h:var(--xs)"></div>
                    <div data-state="size-class" style="--w:var(--xl);--h:var(--xs)"></div>
                    <div data-state="size-class" style="--w:var(--2xl);--h:var(--xs)"></div>
                </div>
            </section>
            <section data-state="section-class,section-style">
                <h5>Colors</h5>
                <app-state name="box-class" at="class" value="box border-f bg-color"></app-state>
                <div class="flex flex-wrap gap-f">
                    <div data-state="box-class" style="--bgc:var(--c-white);--b:var(--xs)"></div>
                    <div data-state="box-class" style="--bgc:var(--c-base-50);--b:var(--xs)"></div>
                    <div data-state="box-class" style="--bgc:var(--c-base-100);--b:var(--xs)"></div>
                    <div data-state="box-class" style="--bgc:var(--c-base-200);--b:var(--xs)"></div>
                    <div data-state="box-class" style="--bgc:var(--c-base-300);--b:var(--xs)"></div>
                    <div data-state="box-class" style="--bgc:var(--c-base-400);--b:var(--xs)"></div>
                    <div data-state="box-class" style="--bgc:var(--c-base-500);--b:var(--xs)"></div>
                    <div data-state="box-class" style="--bgc:var(--c-base-600);--b:var(--xs)"></div>
                    <div data-state="box-class" style="--bgc:var(--c-base-700);--b:var(--xs)"></div>
                    <div data-state="box-class" style="--bgc:var(--c-base-800);--b:var(--xs)"></div>
                    <div data-state="box-class" style="--bgc:var(--c-base-900);--b:var(--xs)"></div>
                    <div data-state="box-class" style="--bgc:var(--c-black);--b:var(--xs)"></div>
                </div>
            </section>
            <section data-state="section-class,section-style">
                <h5>Radius</h5>
                <app-state name="rounded-style" value="--b:var(--sm);--bf:2px;--bfc:var(--c-400)" at="style"></app-state>
                <div class="flex flex-wrap gap-f">
                    <div data-state="rounded-style"
                         class="rounded-xs box bg-pattern-diagonal border-f"></div>
                    <div data-state="rounded-style"
                         class="rounded-sm box bg-pattern-diagonal border-f"></div>
                    <div data-state="rounded-style"
                         class="rounded-md box bg-pattern-diagonal border-f"></div>
                    <div data-state="rounded-style"
                         class="rounded-lg box bg-pattern-diagonal border-f"></div>
                    <div data-state="rounded-style"
                         class="rounded-xl box bg-pattern-diagonal border-f"></div>
                    <div data-state="rounded-style"
                         class="rounded-2xl box bg-pattern-diagonal border-f"></div>
                    <div data-state="rounded-style"
                         class="rounded-3xl box bg-pattern-diagonal border-f"></div>
                </div>
            </section>
            <section data-state="section-class,section-style">
                <h5>Shadows</h5>
                <app-state name="shadow-class" at="class" value="box bg-color rounded-sm shadow"></app-state>
                <app-state name="shadow-inset-class" at="class" value="box bg-color rounded-sm shadow-inset"></app-state>
                <div class="flex flex-wrap gap-f">
                    <div data-state="shadow-class" style="--b:var(--sm);--s:0.5"></div>
                    <div data-state="shadow-class" style="--b:var(--sm);--s:1"></div>
                    <div data-state="shadow-class" style="--b:var(--sm);--s:1.5"></div>
                    <div data-state="shadow-inset-class" style="--b:var(--sm);--si:0.5"></div>
                    <div data-state="shadow-inset-class" style="--b:var(--sm);--si:1"></div>
                    <div data-state="shadow-inset-class" style="--b:var(--sm);--si:1.5"></div>
                </div>
            </section>
            <section data-state="section-class,section-style">
                <h5>Buttons</h5>
                <div class="flex flex-wrap gap-f">
                    <div class="flex flex-col gap-y">
                        <button is="app-btn">Default</button>
                        <button is="app-btn" disabled>Default</button>
                    </div>
                    <div class="flex flex-col gap-y">
                        <button is="app-btn-outlined">Default</button>
                        <button is="app-btn-outlined" disabled>Default</button>
                    </div>
                    <div class="flex flex-col gap-y">
                        <button is="app-btn-ghost">Default</button>
                        <button is="app-btn-ghost" disabled>Default</button>
                    </div>
                </div>
            </section>
            <section data-state="section-class,section-style">
                <h5>Inputs</h5>
                <div class="flex flex-col gap-f">
                    <input is="app-input-text" placeholder="Type something..."/>
                </div>
           </section>
            <section data-state="section-class,section-style">
                <h5>Field Controler</h5>
                <div class="flex flex-col gap-f">
                    <app-field label="Label" for="input-id" error="error message" help="help">
                    <input id="input-id" is="app-input-text"/>
                    </app-field>
                    <app-field label="Label" for="input-id" error="error message" invalid help="help">
                    <input id="input-id" is="app-input-text"/>
                    </app-field>
                    <app-field label="Label" for="input-id" error="error message" success help="help">
                    <input id="input-id" is="app-input-text"/>
                    </app-field>
                </div>
            </section>
        </section>
    </main>
{% endblock %}
