{% extends 'base.html' %}
{% load static %}
{% block title %}App UI Styleguide{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'app.css' %}">
{% endblock %}
{% block body %}
    <app-state name="section-style" value="--minw:var(--lg);--minh:var(--xl);" at="style"></app-state>
    <app-state name="section-class" value="flex flex-col border-t min-w min-h" at="class"></app-state>
    <app-state name="section-span-style" value="--h:var(--s7);--mt:var(--s1);" at="style"></app-state>
    <app-state name="section-span-class" value="font-semibold text-md h justify-text m-t" at="class"></app-state>
    <main class="w-full min-h-screen bg-white bg-pattern-polka">
        <footer class="text-2xl font-semibold p-x w-full m-t"
                style="--text-2xl-lh: var(--s8)">
            App UI Styleguide
        </footer>
        <section class="p-x m-t bg-lines flex flex-wrap gap-f">
            <section data-state="section-class,section-style">
                <span data-state="section-span-class,section-span-style">Typography</span>
                <h1>Typography</h1>
                <h2>Typography</h2>
                <h3>Typography</h3>
                <h4>Typography</h4>
                <h5>Typography</h5>
                <h6>Typography</h6>
            </section>
            <section data-state="section-class,section-style">
                <span data-state="section-span-class,section-span-style">Sizes</span>
                <app-state name="size-class" value="bg-base-300 bg-pattern-diagonal w h border-f" at="class"></app-state>
                <div class="flex flex-wrap gap-f">
                    <div data-state="size-class" style="--w:var(--xs);--h:var(--xs)"></div>
                    <div data-state="size-class" style="--w:var(--sm);--h:var(--xs)"></div>
                    <div data-state="size-class" style="--w:var(--md);--h:var(--xs)"></div>
                    <div data-state="size-class" style="--w:var(--lg);--h:var(--xs)"></div>
                    <div data-state="size-class" style="--w:var(--xl);--h:var(--xs)"></div>
                    <div data-state="size-class" style="--w:var(--2xl);--h:var(--xs)"></div>
                </div>
            </section>
            <section data-state="section-class,section-style">
                <span data-state="section-span-class,section-span-style">Colors</span>
                <app-state name="box-style" at="style" value="--b:var(--xs)"></app-state>
                <div class="flex flex-wrap gap-f">
                    <div class="box border-f bg-white" data-state="box-style"></div>
                    <div class="box border-f bg-base-50" data-state="box-style"></div>
                    <div class="box border-f bg-base-100" data-state="box-style"></div>
                    <div class="box border-f bg-base-200" data-state="box-style"></div>
                    <div class="box border-f bg-base-300" data-state="box-style"></div>
                    <div class="box border-f bg-base-400" data-state="box-style"></div>
                    <div class="box border-f bg-base-500" data-state="box-style"></div>
                    <div class="box border-f bg-base-600" data-state="box-style"></div>
                    <div class="box border-f bg-base-700" data-state="box-style"></div>
                    <div class="box border-f bg-base-800" data-state="box-style"></div>
                    <div class="box border-f bg-base-900" data-state="box-style"></div>
                    <div class="box border-f bg-black" data-state="box-style"></div>
                </div>
            </section>
            <section data-state="section-class,section-style">
                <span data-state="section-span-class,section-span-style">Radius</span>
                <app-state name="rounded-style" value="--b:var(--sm);--bf:2px;--bfc:var(--c-400)" at="style"></app-state>
                <div class="flex flex-wrap gap-f">
                    <div data-state="rounded-style"
                         class="rounded-xs box bg-pattern-diagonal border-f"></div>
                    <div data-state="rounded-style"
                         class="rounded-sm box bg-pattern-diagonal border-f"></div>
                    <div data-state="rounded-style"
                         class="rounded-md box bg-pattern-diagonal border-f"></div>
                    <div data-state="rounded-style"
                         class="rounded-lg box bg-pattern-diagonal border-f"></div>
                    <div data-state="rounded-style"
                         class="rounded-xl box bg-pattern-diagonal border-f"></div>
                    <div data-state="rounded-style"
                         class="rounded-2xl box bg-pattern-diagonal border-f"></div>
                    <div data-state="rounded-style"
                         class="rounded-3xl box bg-pattern-diagonal border-f"></div>
                </div>
            </section>
            <section data-state="section-class,section-style">
                <span data-state="section-span-class,section-span-style">Shadows</span>
                <app-state name="shadow-class" at="class" value="box bg-white rounded-sm shadow"></app-state>
                <div class="flex flex-wrap gap-f">
                    <div data-state="shadow-class" style="--b:var(--sm);--s:0.5"></div>
                    <div data-state="shadow-class" style="--b:var(--sm);--s:1"></div>
                    <div data-state="shadow-class" style="--b:var(--sm);--s:1.5"></div>
                </div>
            </section>
            <section data-state="section-class,section-style">
                <span data-state="section-span-class,section-span-style">Buttons</span>
                <div class="flex flex-wrap gap-f">
                    <div class="flex flex-col gap-y">
                        <button is="app-btn">Default</button>
                        <button is="app-btn" disabled>Default</button>
                    </div>
                    <div class="flex flex-col gap-y">
                        <button is="app-btn-outlined">Default</button>
                        <button is="app-btn-outlined" disabled>Default</button>
                    </div>
                </div>
            </section>
        </section>
    </main>
{% endblock %}
