{% extends 'base.html' %}
{% load static %}
{% block title %}
  App UI Styleguide
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'app.css' %}">
{% endblock %}
{% block body %}
<s-def name="sec" value="min-h-xs border-t border-color-base-200 flex flex-col"/>
<s-def name="spa" value="pb-2 font-medium text-md"/>

<main class="size-screen bg-white bg-pattern-polka overflow-y-auto">
  <footer class="text-2xl font-semibold p-x p-t w-full" style="--text-2xl-lh: var(--text-2xl);">
    App UI Styleguide
  </footer>
  <section class="p-x m-t bg-lines flex flex-wrap">
    <section data-state="sec" data-at="class">
      <span data-state="spa" data-at="class">Sizes</span>
      <div class="flex flex-wrap gap">
        <div class="bg-base-300 bg-pattern-diagonal w-xs h-xs"> </div>
        <div class="bg-base-300 bg-pattern-diagonal w-sm h-xs"> </div>
        <div class="bg-base-300 bg-pattern-diagonal w-md h-xs"> </div>
        <div class="bg-base-300 bg-pattern-diagonal w-lg h-xs"> </div>
        <div class="bg-base-300 bg-pattern-diagonal w-xl h-xs"> </div>
        <div class="bg-base-300 bg-pattern-diagonal w-2xl h-xs"> </div>
      </div>
    </section>
    <!-- <section data-state="sec" data-at="class"> ok </section> -->
  </section>
</main>

{% endblock %}

