<script is="exec-mount" type="pass">
$s.createStore('', {
    'assignment_id': 0,
    'action_is_fetching': false,
})
document.querySelectorAll('.btn-assignment-action').forEach(el => {
    $s.subscribe('action_is_fetching', el, 'disabled')
})
</script>
{% partialdef btn_action %}
    <button
        class="btn btn-soft w-full btn-assignment-action btn_action_{{choice}}"
        onclick="((el) => {
            $s.set('action_is_fetching', true);
            const assignmentId = $s.get('assignment_id')
            $q.use(
                ['assignment_action'],
                () => $r.post('{% url 'assignment-'|add:choice 0 %}'.replace('0',assignmentId), {}, {
                    'X-CSRFToken': '{{csrf_token}}'
                }),
                {
                    onSuccess(){
                        toastSuccess('{% trans 'Success'%}')
                        $q.refetch('slots')
                        el.closest('dialog')?.close()
                    },
                    onError(error){
                        if (error.status > 499)
                            toastError('{% trans 'Error'%}')
                        else 
                            toastError(error.data)
                    },
                    onFinally(){
                        $s.set('action_is_fetching', false)
                    }
                },
                {
                    ttl: 0,
                }
            )
        })(this)
        "
    >{{text}}</button>
{% endpartialdef %}
{% partialdef modal %}
<dialog class="modal" id="id_modal_assignment_action_{{status}}">
    <div class="modal-box">
        <div class="flex flex-col gap-3">
            {% if has_rescue %}
                {% with text=_('Rescue appointment') choice='rescue'%}
                    {% partial btn_action%}
                {% endwith %}
            {% endif %}
            {% if has_confirm %}
                {% with text=_('Confirm new appointment') choice='confirm'%}
                    {% partial btn_action%}
                {% endwith %}
            {% endif %}
            {% if has_start %}
                {% with text=_('Start service') choice='start' %}
                    {% partial btn_action%}
                {% endwith %}
            {% endif %}
            {% if has_finish %}
                {% with text=_('Finish service') choice='finish' %}
                    {% partial btn_action%}
                {% endwith %}
            {% endif %}
            {% if has_migrate %}
                {% with text=_('Migrate appointment') choice='migrate' %}
                    {% partial btn_action%}
                {% endwith %}
            {% endif %}
            {% if has_cancel %}
                {% with text=_('Cancel appointment') choice='cancel' %}
                    {% partial btn_action%}
                {% endwith %}
            {% endif %}
            {% if has_absent %}
                {% with text=_('Mark as absent') choice='absent' %}
                    {% partial btn_action%}
                {% endwith %}
            {% endif %}
        </div>
        <div class="modal-action">
            <button class="btn btn-outline" onclick="id_modal_assignment_action_{{status}}.close();">
                {% trans 'Close' %}
            </button>
        </div>
    </div>
    <form class="modal-backdrop" method="dialog">
        <button></button>
    </form>
</dialog>
{% endpartialdef %}
{% with status='PD' has_confirm=True has_cancel=True%}
    {% partial modal %}
{% endwith %}
{% with status='CF' has_cancel=True has_migrate=True has_start=True has_absent=True %}
    {% partial modal %}
{% endwith %}
{% with status='MG' has_cancel=True has_migrate=True has_start=True %}
    {% partial modal %}
{% endwith %}
{% with status='IP' has_cancel=True has_finish=True %}
    {% partial modal %}
{% endwith %}
{% with status='CC' has_rescue=True %}
    {% partial modal %}
{% endwith %}

<dialog id="id_modal_select_date_time" class="modal">
    <div class="modal-box">
        <h1 class='text-lg font-bold'>
            {% trans "Select a migrate date" %}
        </h1>
        <div>
            <ul id="id_ul_select_dates" class="menu">
            </ul>
        </div>
        <div class="modal-action">
            <button class="btn btn-outline" onclick="id_modal_select_date_time.close();">
                {% trans 'Close' %}
            </button>
        </div>
    </div>
</dialog>
{% with ul_id="id_ul_select_dates" onclick="$s.set('modal_migrate_select_date.date', it)"%}
{% include "components/schedule/select_date.js.html" %}
{% endwith %}
<script type='pass' is="exec-mount">
{
    $s.createStore('modal_migrate_select_date',{
        'date': null,
        'slot': null,
    })
    document.querySelectorAll('.btn_action_migrate').forEach(btn => {
        btn.onclick = () => {
            $q.refetch(['dates'])
            id_modal_select_date_time?.showModal();
        }
    })
}
</script>
