<dialog id="id_new_schedule_modal" class="modal">
    <div class="modal-box">
        {% with id='id_assignment_form' form=assignment_form %}
        {% include 'components/form/index.html' %}
        {% endwith %}
        <div class="modal-action">
            <button
                class="btn btn-ghost"
                onclick="id_new_schedule_modal.close();id_assignment_form.reset()"
            >
                {% trans 'Cancel' %}
            </button>
            <button
                class="btn btn-primary"
                onclick="id_assignment_form.requestSubmit();"
            >
                {% trans 'Save' %}
            </button>
        </div>
    </div>
    <form class="modal-backdrop" method="dialog">
        <button></button>
    </form>
</dialog>
<script is="exec-umount" type="pass">
{
    $s.remove("form_assignment")
    const form = document.getElementById('id_assignment_form')
    if (form && form._handlerSubmit) {
        form.removeEventListener("submit", form._handlerSubmit);
        delete form._handlerSubmit;
    }
}
</script>
<script is="exec-mount" type="pass">
{
    $s.createStore("form_assignment", {
        'availability_id': 0,
        'start_slot': 0,
        'duration_slot': 0,
    })
    const form = document.getElementById('id_assignment_form')
    if (form){
        form._handlerSubmit = (event) => {
            event.preventDefault();
            const data = $u.getDataByForm(event.target);
            const storeData = $s.get('form_assignment')
            const date = $s.get("filter.calendar.day")
            data.duration_slot = storeData.duration_slot;
            data.start_slot = storeData.start_slot;
            data.availability = storeData.availability_id;
            data.date = date?.split('T')?.[0];
            $q.use(
                ['post-assignment'],
                () => $r.post("{% url 'assignment-list' %}", data, {
                    "X-CSRFToken": "{{csrf_token}}"
                }),
                {
                    onSuccess(error){
                        $q.refetch("slots")
                        form.reset();
                        id_new_schedule_modal.close();
                    },
                    onError(error){
                        if (error.status !== 400) {
                            toastError("{% trans 'Error' %}!");
                            return
                        }

                        Object.entries(error.data).forEach(([key, value]) => {
                            const field = form.elements[key];
                            if (!field) {
                                toastError(value);
                            }
                            else {
                                const message = Array.isArray(value) ? value.join(', ') : value;
                                toastError(message)
                                //field.setCustomValidity(message);
                                //field.reportValidity();

                                //field.addEventListener('change',() => {
                                //    field.setCustomValidity('');
                                //}, {once: true});
                            }
                        });
                    }
                },
                {
                    ttl:0,
                }
            )
        }
        form.addEventListener('submit', form._handlerSubmit);
    }
    const modal = document.getElementById('id_new_schedule_modal')
    if (modal){
        modal.onclose = () => {
            form.reset();
        }
    }
}
</script>
