{% extends 'pages/app/layout.html' %}
{% partialdef main %}

{% include 'pages/app/schedule/index.js.html' %}
{% include 'components/appbar.html' with title=_('RSA Agenda') %}
<section class="grid grid-cols-[auto_1fr]">
    <aside>
        <div class="w-[16rem]">
            {% include 'pages/app/schedule/aside.html' %}
        </div>
    </aside>
    <main class="relative border-l border-base-content/10">
        <div class="absolute inset-0 grid grid-rows-[auto_1fr]">
            {% include 'pages/app/schedule/main.html' %}
        </div>
    </main>
</section>

{% endpartialdef %}
{% block section %}
{% partial main %}
{% endblock %}