{% extends 'pages/app/layout.html' %}
{% partialdef fieldset_filter %}
<fieldset class="fieldset border-t border-base-content/10">
    <legend class="fieldset-legend text-base-content/50">{{ title }}</legend>
    {% include content %}
</fieldset>
{% endpartialdef %}
{% partialdef main %}
{% include 'components/appbar.html' with title=_('RSA Agenda') %}
<app-state name="filter.calendar.range"></app-state>
<app-state name="filter.calendar.day" value="{{ request.GET.day|default:today }}"></app-state>
<app-state name="filter.calendar.mode" value="{{ request.GET.mode|default:'w' }}"></app-state>
<app-state name="filter.search" value="{{ request.GET.search|default:'' }}"></app-state>
<app-state name="filter.services" value="{{ request.GET.services|default:'' }}"></app-state>
<app-state name="filter.resources" value="{{ request.GET.resources|default:'' }}"></app-state>
<app-state name="filter.status" value="request.GET.status|default:'all'"></app-state>
<div class="grid grid-cols-[16rem_1fr] h-full bg-base-100">
    <aside class="p-4 border-r border-base-content/10 flex flex-col gap-4">
        {% include 'components/filter-calendar.html' %}
        {% with content='components/filter-resources.html' title=_('Resources') %}
            {% partial fieldset_filter %}
        {% endwith %}
        {% with content='components/filter-services.html' title=_('Services') %}
            {% partial fieldset_filter %}
        {% endwith %}
    </aside>
    <main class="bg-base-200/30">
        <div class="w-full flex justify-between p-2 pr-4 border-b border-base-content/10 items-center">
            <div class="flex flex-wrap gap-4 w-full">
                {% include 'components/calendar-view-mode.html' %}
                {% include 'components/filter-search.html' %}
                {% include 'components/filter-assignment-status.html' %}
            </div>
            <button class="btn btn-primary pl-2">
                {% include 'icons/plus.svg' %}
                {% trans 'Add' %}
            </button>
        </div>
        <div>{% include 'schedule_view_mode/week.html' %}</div>
    </main>
</div>
<script is="app-scope" onclearup="window.removeEventListener('state:update', _computeFilterCalendarRange);delete _computeFilterCalendarRange">
    const _computeFilterCalendarRange = (event) => {
        const { key } = event.detail
        if (!['filter.calendar.day','filter.calendar.mode'].includes(key)) return
        const day = getState('filter.calendar.day')
        const mode = getState('filter.calendar.mode')
        if (!day || !mode) return
        const date = new Date(day);
        const range = [undefined, undefined]
        if (mode == 'm') {
            range[0] = new Date(date.getFullYear(), date.getMonth(), 1);
            range[1] = new Date(date.getFullYear(), date.getMonth() + 1, 0);
        } else if (mode === 'w'){
            const dayOfWeek = date.getDay();
            range[0] = new Date(date);
            range[0].setDate(date.getDate() - dayOfWeek);
            range[1] = new Date(range[0]);
            range[1].setDate(range[0].getDate() + 6);
        } else if (mode === 'd') {
            range[0] = new Date(date);
            range[1] = new Date(date);
        }
        setState('filter.calendar.range', range)
    };

    window.addEventListener('state:update', _computeFilterCalendarRange);
</script>
{% endpartialdef %}
{% block section %}
    {% partial main %}
{% endblock %}
