<header class="w-full flex justify-between p-3 border-base-content/10 max-h-full">
    <div class="flex flex-wrap gap-4 w-full">
        {# include 'components/schedule/filter.calendar.mode/index.html' #}
        {% include 'components/schedule/filter.search.html' %}
        {% include 'components/schedule/filter.services.html' %}
        {% include 'components/schedule/filter.status.html' %}
        {% include 'components/schedule/filter.resources.html' %}
        {% include 'components/schedule/filter.clean.html' %}
        {% url 'self_scheduling' as schedule_url %}

        <button class="btn btn-sm [&>svg]:w-4 js-copy-btn" id="id_btn_link_copy"
            data-clipboard-text="{{ request.get_host }}{{ schedule_url }}">
            <span class="btn-text">{% trans "Self-Schedule" %}</span>
            {% include "icons/link.svg" %}
        </button>

        <script is="exec-mount" type="pass">
        {
            $s.create('link_is_copied', false)
            const btn = document.getElementById('id_btn_link_copy')
            const btnText = btn.querySelector('.btn-text');
            if (btn){
                $s.subscribe('link_is_copied', btn, null, (v) => {
                    btn.classList.toggle('btn-success', v)
                })
                $s.subscribe('link_is_copied', btnText, 'innerText', (v) => {
                    return v ? "{% trans 'Copied!' %}": '{% trans "Self-Schedule" %}'
                })
                btn.onclick = async () => {
                    $s.set("link_is_copied", true)
                    const textToCopy = btn.dataset.clipboardText;
                    try {
                        await navigator.clipboard.writeText(textToCopy);
                        setTimeout(() => {
                            $s.set("link_is_copied", false)
                        }, 2000);
                    } catch (err) {
                        $s.set("link_is_copied", false)
                        console.error('{%trans "Falha ao copiar link"%}: ', err);
                        alert("{% trans 'Error copying link. Please copy manually.' %}");
                    }
                }
            }
        }
        </script>
        {% include 'components/schedule/assignments.dashboard.html' %}
    </div>
    <label for="id_schdule_drawer_toggle" class="btn btn-square sm:hidden">
        {%include 'icons/settings-2.svg'%}
    </label>
</header>
<main class="bg-base-200/30 border-t border-base-content/10 max-h-full overflow-y-hidden">
    {% include 'components/schedule/view_mode/day/index.html' %}
</main>
