<header class="w-full flex justify-between p-3 border-base-content/10 max-h-full">
    <div class="flex flex-wrap gap-4 w-full">
        {# include 'components/schedule/filter.calendar.mode/index.html' #}
        {% include 'components/schedule/filter.search.html' %}
        {% include 'components/schedule/filter.services.html' %}
        {% include 'components/schedule/filter.status.html' %}
        {% include 'components/schedule/filter.resources.html' %}
    </div>
    <label for="id_schdule_drawer_toggle" class="btn btn-square sm:hidden">
        {%include 'icons/settings-2.svg'%}
    </label>
</header>
<main class="bg-base-200/30 border-t border-base-content/10 max-h-full overflow-y-hidden">
    {% include 'components/schedule/view_mode/day/index.html' %}
</main>
