{% extends 'pages/app/self_scheduling/index.html'%}
{% block content %}
{% get_current_language as LANG_CODE %}
{% with key='dates' title=_("Available days") list_title=_('Select a day from the calendar below for obligations.') %}
  {% include 'pages/app/self_scheduling/layouts/choice.html' %}
{% endwith %}
<script>
$q.use(
  ['dates'],
  () => {
    const dateNow = new Date()
    const startDate = dateNow.toISOString().split('T')[0]
    dateNow.setDate(dateNow.getDate() + 15)
    const endDate = dateNow.toISOString().split('T')[0]
    return $r.get(`{% url 'availabilities_presentation' %}?date_after=${startDate}&date_before=${endDate}`)
  },
  {
    onSuccess(data){
      const dates = Array.from(new Set(data.map(it => it.occurrences.map(it => it.split('T')[0])).flat()))
      const ul = document.getElementById('id_dates');
      if (ul){
        const frag = document.createDocumentFragment();
        dates.forEach(it => {
          const li = document.createElement('li');
          const a = document.createElement('a');
          const dateObj = new Date(`${it}T00:00:00`)
          a.innerText = new Intl.DateTimeFormat('{{LANG_CODE}}', {
            day: '2-digit',
            month: '2-digit',
            year: 'numeric'
          }).format(dateObj)
          a.href = `{% url 'self_scheduling' %}?step=4&service={{request.GET.service}}&resource={{request.GET.resource}}&date=${it}`
          li.appendChild(a);
          frag.appendChild(li);
        })
        ul.appendChild(frag);
      }
    }
  }
)
</script>
{% endblock %}
