{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
{% trans 'Scheduling' %}
{% endblock %}

{% block header %}
<script src="{% static 'state.js' %}"></script>
<script src="{% static 'query-manager.js' %}"></script>
<script src="{% static 'request-manager.js' %}"></script>
{% endblock %}
{% block body %}
<div class="w-screen h-screen grid grid-rows-[1fr_auto]">
    <main class="overflow-y-auto">
        {% block content %}
        {% endblock %}
    </main>
</div>
{% endblock %}