{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
  {% trans 'Scheduling' %}
{% endblock %}

{% block header %}
<script src="{% static 'state.js' %}"></script>
<script src="{% static 'query-manager.js' %}"></script>
<script src="{% static 'request-manager.js' %}"></script>
{% endblock %}
{% partialdef progress %}
<li class="step" data-id='{{key}}'>
  <span class="step-icon *:w-4">{% include iconpath %}</span>
</li>
{% endpartialdef %}
{% block body %}
<div class="w-screen h-screen grid grid-rows-[1fr_auto]">
  <main>
    <div class='page h-full' data-id='1'>
      {% include 'pages/app/self_scheduling/home.html'%}
    </div>
    <div class='page h-full' data-id='2'>
      {% include 'pages/app/self_scheduling/professionals.html'%}
    </div>
    <div class='page h-full' data-id='3'></div>
    <div class='page h-full' data-id='4'></div>
    <div class='page h-full' data-id='5'></div>
  </main>
  <ul class='steps p-4'>
    {% with iconpath='icons/house.svg' key='1' %}
    {% partial progress %}
    {% endwith %}
    {% for option, i in resources_visibles %}
      {% with iconpath='icons/notebook-pen.svg' key=i|add:2 %}
        {% partial progress %}
      {% endwith %}  
    {% endfor %}
    {% with iconpath='icons/calendar.svg' key='3' %}
    {% partial progress %}
    {% endwith %}  
    {% with iconpath='icons/clipboard-clock.svg' key='4' %}
    {% partial progress %}
    {% endwith %}  
    {% with iconpath='icons/check-check.svg' key='5' %}
    {% partial progress %}
    {% endwith %}
  </ul>
</div>
<script>
{
  const pageId = Number(sessionStorage.getItem('router_scheduling') || '1')
  $s.create('page', pageId)
  document.querySelectorAll('.step').forEach(item => {
    $s.subscribe('page', item, null, (value, el) => {
        el.classList.toggle('step-primary', Number(el.dataset.id) <= value, true)
    })
  })
  document.querySelectorAll('.page').forEach(item => {
    $s.subscribe('page', item, null, (value, el) => {
      el.classList.toggle('hidden',Number(el.dataset.id) !== value, true)
    })
  })
}
</script>
{% endblock %}
