{% extends 'pages/app/self_scheduling/index.html' %}
{% block content%}
  {% with key='resource' title='Selecione um '|add:parent.name list_title="Selecione uma das opções abaixo" %}
    {% include 'pages/app/self_scheduling/layouts/choice.html' %}
  {% endwith %}
<script>
  const ul = document.getElementById('id_resource')
  if (ul) {
  const frag = document.createDocumentFragment()
  {% for it in resources %}
    const li_{{it.id}} = document.createElement('li')
    const a_{{it.id}} = document.createElement('a')
    a_{{it.id}}.innerText = '{{it.name}}'
    a_{{it.id}}.href = '{% url "self_scheduling" %}?step={{next_step}}&service={{request.GET.service}}&required_resource_step={{next_resource_step}}'
    li_{{it.id}}.appendChild(a_{{it.id}})
    $s.subscribe('form.service', li_{{it.id}}, null, (value) => {
      li_{{it.id}}.classList.toggle('menu-active', value === {{it.id}})
    })
    frag.appendChild(li_{{it.id}})
  {% endfor %}
  ul.appendChild(frag)
  }
</script>
{% endblock %}
