{% extends 'pages/app/self_scheduling/index.html' %}
{% block content %}
{% with key='services' title=_('Available Services') list_title=_('Select a service below') %}
  {% include 'pages/app/self_scheduling/layouts/choice.html' %}
{% endwith %}
<script>
$q.use(
  ['services'],
  () => $r.get('{% url "services-list"%}?required_resources__code=client'),
  {
    onSuccess(data){
      const ul = document.getElementById('id_services')
      if (!ul) { return }
      const frag = document.createDocumentFragment()
      data.results.forEach(item => {
        const li = document.createElement('li')
        const a = document.createElement('a')
        a.innerText = item.label
        a.href = '/app/self-scheduling?step=2&service='+item.id
        li.appendChild(a)
        $s.subscribe('form.service', li, null, (value) => {
          li.classList.toggle('menu-active', value === item.id)
        })
        frag.appendChild(li)
      })
      ul.appendChild(frag)
    }
  }
)
</script>
{% endblock %}
