{% extends 'pages/app/self_scheduling/index.html'%}
{% block content %}
{% with key='times' title=_("Available Times") list_title=_('Select a time on the calendar to proceed.') %}
  {% include 'pages/app/self_scheduling/layouts/choice.html' %}
{% endwith %}
<script>
$q.use(
  ['times'],
  () => {
    return $r.get(`{% url 'availabilities_presentation' %}?day={{request.GET.date}}`)
  },
  {
    onSuccess(data){
    const times = Array.from(
      new Set(
        data.flatMap(a => 
          a.occurrences.map(it => JSON.stringify({
            time: it.split('T')[1],
            id: a.id,
          }))
        )
      )
    )
    .map(it => JSON.parse(it))
    .sort((a, b) => a.time.localeCompare(b.time));
      const ul = document.getElementById('id_times');
      const calcSlot = (it) => {
        const [hour, minute] = it.split(':').map(Number)
        return Math.floor((hour * 60 + minute)/5)
      }
      if (ul){
        const frag = document.createDocumentFragment();
        times.forEach(it => {
          const li = document.createElement('li');
          const a = document.createElement('a');
          const slot = calcSlot(it.time)
          a.innerText = it.time.slice(0,5)
          a.href = `{% url 'self_scheduling' %}?step=5&service={{request.GET.service}}&resource={{request.GET.resource}}&date={{request.GET.date}}&time=${it.time}&availability=${it.id}&slot=${slot}`
          li.appendChild(a);
          frag.appendChild(li);
        })
        ul.appendChild(frag);
      }
    }
  }
)
</script>
{% endblock %}
