<nav class="navbar w-full bg-base-300 border-b border-base-content/10">
    <label for="my-drawer-4"
           aria-label="open sidebar"
           class="btn btn-square btn-ghost">{% include 'icons/panel-left-open.svg' %}</label>
    <div class="px-4 w-full">{{ title }}</div>
    <div class="flex flex-col px-4">
        <span class="text-xs font-semibold whitespace-nowrap">
          {{ user.get_full_name|default:user.username }}
        </span>
    </div>
    {% include 'components/logout.html' %}
</nav>
