{% partialdef tab %}
<label class="tab">
    <input value="{{ value }}"
           type="radio"
           name="calendar-view"
           data-state="f-calendar-view"
           data-then="it => it === this.value"
           onclick="setState('f-calendar-view', this.value)" />
    {% include icon %}
</label>
{% endpartialdef %}
<div class="tabs tabs-box tabs-sm bg-base-content/4">
    {% with icon='icons/calendar.svg' value='m' %}
        {% partial tab %}
    {% endwith %}
    {% with icon='icons/calendar-range.svg' value='w' %}
        {% partial tab %}
    {% endwith %}
    {% with icon='icons/calendar-clock.svg' value='d' %}
        {% partial tab %}
    {% endwith %}
</div>
