{% partialdef assignment_status %}
<input class="btn relative"
       type="radio"
       name="f-status"
       value="{{ value }}"
       onclick="setState('f-assignment-status', this.value)"
       aria-label="{{ label }}" />
{% endpartialdef %}
<form class="filter">
    {% with value='CF' label=_('Confirmed') icon_path='icons/status-created.svg' %}
        {% partial assignment_status %}
    {% endwith %}
    {% with value='NP' label=_('In Progress') icon_path='icons/status-in-progress.svg' %}
        {% partial assignment_status %}
    {% endwith %}
    {% with value='CP' label=_('Completed') icon_path='icons/status-completed.svg' %}
        {% partial assignment_status %}
    {% endwith %}
    {% with value='MG' label=_('Migrated') icon_path='icons/status-migrated.svg' %}
        {% partial assignment_status %}
    {% endwith %}
    {% with value='CL' label=_('Cancelled') icon_path='icons/status-cancelled.svg' %}
        {% partial assignment_status %}
    {% endwith %}
    <input class="btn btn-square text-xs"
           type="reset"
           value="&#x2715;"
           onclick="setState('f-assignment-status', '')" />
</form>
