{% partialdef assignment_status %}
<input class="btn"
       type="radio"
       name="frameworks"
       aria-label="{{ label }}"
       value="{{ value }}"
       data-state="f-assignment-status"
       data-then="it => it === this.value"
       onclick="setState('f-assignment-status', this.value)" />
{% endpartialdef %}
<form class="filter">
    {% with value='CF' label=_('Confirmed') %}
        {% partial assignment_status %}
    {% endwith %}
    {% with value='NP' label=_('In Progress') %}
        {% partial assignment_status %}
    {% endwith %}
    {% with value='CP' label=_('Completed') %}
        {% partial assignment_status %}
    {% endwith %}
    {% with value='MG' label=_('Migrated') %}
        {% partial assignment_status %}
    {% endwith %}
    {% with value='CL' label=_('Cancelled') %}
        {% partial assignment_status %}
    {% endwith %}
    <input class="btn btn-square text-xs"
           type="reset"
           value="&#x2715;"
           onclick="setState('f-assignment-status', '')" />
</form>
