<form is="app-ajax"
      store="f-services"
      action="{% url 'services-list' %}"
      autofetch>
</form>
<div data-state="f-services.data"
     data-then="it => FServices.render(this, JSON.parse(it))"
     data-at="innerHTML"></div>
<script is="app-scope" onclearup="delete window.FServices">
window.FServices = {
    render(el, data){
      if (!data?.results) return;
      const htmlContent = data.results.map(it => `
        <label class="label w-full">
          <input type="checkbox" name="service" value="${it.id}" class="checkbox checkbox-xs checkbox-primary" />
          <span class="label-text text-sm">${this.escapeHtml(it.title)}</span>
        </label>
      `).join('')
      return htmlContent;
    },
    escapeHtml(str){
      const div = document.createElement('div');
      div.textContent = str;
      return div.innerHTML;
    }
}
</script>
