<button class="btn btn-square" onclick="id_modal_confirm_logout.showModal()">
  {% include 'icons/log-out.svg' %}
</button>

<dialog class="modal" id="id_modal_confirm_logout">
  <div class="modal-box">
    <h3 class="font-bold text-lg">
      {% trans 'Log out of your account?' %}
    </h3>
    <p class="py-4">
      {% trans 'Are you sure you want to end your current session?' %}
    </p>
    <div class="modal-action">
      <button class="btn btn-ghost" onclick="id_modal_confirm_logout.close()">
        {% trans 'Cancel' %}
      </button>
      <form class="btn btn-error text-white" action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button>
          {% trans 'Log out' %}
        </button>
      </form>
    </div>
  </div>
</dialog>
